@using static CookTheWeek.Common.GeneralApplicationConstants
@inject IUserContext UserContext
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Meal Plannin App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/img/logo-64-64.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
    </script>
</head>
<body>
    <partial name="_NotificationsPartial" />
    <partial name="_NavigationManagerPartial" />
    <partial name="_ThemeSwitcherPartial" />
    <partial name="_CookieConsentPartial" />

    <!-- Background Image Overlay -->
    <div class="@ViewData["BackgroundClass"]">
    </div>

    <div id="main-container"
         data-current-view="@ViewData["Title"]"
         data-current-user-id="@UserContext.UserId"
         data-has-active-mealplan="@UserContext.HasActiveMealplan.ToString().ToLower()">

        <div class="content @ViewData["CustomClass"]">
        @RenderBody()
       </div>
        <partial name="_FooterPartial" />
    </div>   
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
   
    <script src="~/js/theme.js"></script>
    <script type="module" src="~/js/config.js"></script>
    <script type="module" src="~/js/site.js"></script>
    <script type="module" src="~/js/recipeLikes.js"></script>
    <script src="~/js/modal-redirects.js" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
