@model ShoppingListViewModel

<section id="shopping-list-section" class="p-3">
    <div id="heading-container">
        <h2>@Model.Title</h2>
        <sup class="dates">Shopping List for <span class="date">@Model.StartDate</span> to <span class="date">@Model.EndDate</span></sup>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var category in Model.ShopItemsByCategories)
            {
                if (category.SupplyItems.Count > 0)
                {
                    <div class="col col-12 col-md-6">
                        <p class="ingredient-heading">@category.Title:</p>
                        <ul class="list-unstyled">
                            @foreach (var product in category.SupplyItems)
                            {
                                <li>@Html.Raw(@product.Qty) <span class="units-styler">@product.Measure</span> @product.Name @product.Specification</li>
                            }
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
</section>