@model RecipeAllViewModel
@inject IUserService UserService
@inject IFavouriteRecipeService FavouriteRecipeService
@using CookTheWeek.Common.Extensions
@using CookTheWeek.Services.Data.Interfaces
@using static CookTheWeek.Common.GeneralApplicationConstants
@{
    string recipeId = Model.Id.ToString();
    string userId = this.User.GetId();
    bool isOwner = await this.UserService.IsOwnerByRecipeId(recipeId, userId);
    bool isAdmin = User.IsAdmin();
}

<div class="col recipe-container">
    <div class="card">
        <div class="position-relative image-container">
            <img class="card-img-top" alt="Recipe Image" src="@Model.ImageUrl">
            @if (!string.IsNullOrEmpty(userId) && !isOwner)
            {
                bool isLiked = await this.FavouriteRecipeService.ExistsByUserIdAsync(recipeId, userId);

                <a class="add-to-favourites-button" onclick="toggleFavourites(event, '@recipeId', '@userId')">
                    @if (isLiked)
                    {
                        <i class="fas fa-heart liked-icon" data-toggle="tooltip" title="Remove from Favorites"></i>
                    }
                    else
                    {
                        <i class="fas fa-heart not-liked-icon" data-toggle="tooltip" title="Add to Favorites"></i>
                    }
            </a>
            } else if(isOwner && !isAdmin)
            {
                <i class="fa fa-user-circle" aria-hidden="true" data-toggle="tooltip" title="You own this Recipe"></i>
            }
            @if(userId != String.Empty)
            {
                <div class="add-to-mealplan-container">
                    <a data-recipeId="@Model.Id" class="add-to-mealplan-button plus fixed-size-btn">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            }            
        </div>
        <div class="card-body p-2">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-center g-1"><i class="material-icons card-icon">restaurant_menu</i><span class="icon-text">&nbsp; @Model.Servings</span></div>
                    <span class="badge @GetBadgeColor(Model.Category.Name)">@Model.Category.Name</span>
                    <div class="d-flex align-items-center justify-content-center g-1"><i class="material-icons card-icon">timer</i><span class="icon-text">&nbsp; @Model.CookingTime</span></div>
                </div>
                <a class="recipe-details-link" asp-area="" asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.Id">
                    <p class="recipe-title">@Model.Title.TrimToChar(RecipeCardTitleMaxLength)</p>
                </a>                
                @if (Model.Description != null)
                {
                <hr />
                <div class="recipe-description">
                    <p class="card-text text-overflow-clamp">@Model.Description.TrimToChar(RecipeCardDescriptionMaxLength)</p>
                </div>
                }                
        </div>
    </div>
</div>
@functions {
    public string GetBadgeColor(string mealCategoryName)
    {
        switch (mealCategoryName)
        {
            case "Breakfast":
                return "bg-primary";
            case "Soup":
                return "bg-warning text-dark";
            case "Salad":
                return "bg-success";
            case "Main Dish":
                return "bg-warning text-dark";
            case "Appetizer":
                return "bg-danger";
            case "Dessert":
                return "bg-secondary text-dark";
            default:
                return "bg-primary";
        }
    }
}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>