@model RecipeAllViewModel

@inject IUserContext UserContext
@inject IFavouriteRecipeService LikesService

@using CookTheWeek.Common.Extensions
@using CookTheWeek.Common.HelperMethods
@using CookTheWeek.Services.Data.Services.Interfaces

@using static CookTheWeek.Common.GeneralApplicationConstants

@{
    Guid recipeId = Model.Id;
    Guid userId = UserContext.UserId;
    bool isAdmin = UserContext.IsAdmin;
    bool isOwner = (userId != default && userId == Model.OwnerId);
}


<div class="col recipe-container">    
    <div class="card recipe-card">
        @if (Model.IsIncludedInActiveMealPlan)
        {
            <div class="ribbon ribbon-mealplan" data-toggle="tooltip" title="In Meal Plan">✔</div>
        }
        @if (!isAdmin && !Model.IsSiteRecipe)
        {
            <div class="ribbon ribbon-owner" data-toggle="tooltip" title="You own this Recipe">
                <svg width="24px" height="24px" aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path>
                </svg>
            </div>

        }
        <div class="position-relative image-container">
            <img class="card-img-top" alt="Recipe Image" src="@Model.ImageUrl">
            @if (userId != default && !isOwner && !isAdmin)
            {
                bool isLiked = await this.LikesService.GetRecipeLikeIfExistsAsync(recipeId) != null;

                <a class="add-to-favourites-button" data-recipe-id="@Model.Id">
                    @if (isLiked)
                    {
                        <i class="fas fa-heart liked-icon" data-toggle="tooltip" title="Remove from Favorites"></i>
                    }
                    else
                    {
                        <i class="fas fa-heart not-liked-icon" data-toggle="tooltip" title="Add to Favorites"></i>
                    }
                </a>
            } else if(isAdmin && Model.IsSiteRecipe)
            {
                <i class="fa-solid fa-house" data-toggle="tooltip" title="Site Recipe"></i>
            }
            else if (isAdmin && !Model.IsSiteRecipe)
            {
                <i class="fa-solid fa-user-plus" data-toggle="tooltip" title="User Recipe"></i>
            }
            @if(userId != default && !isAdmin)
            {
                if(!Model.IsIncludedInActiveMealPlan)
                {
                    <div class="add-to-mealplan-container">
                        <a data-recipeId="@Model.Id" class="mealplan-toggle-btn plus" data-toggle="tooltip" title="Add / Remove">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                }
            }            
    </div>
        <div class="card-body p-2">
            <a class="recipe-details-link" asp-area="" asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl">
                <p class="recipe-title">@Html.Raw(Model.Title.TrimToChar(RecipeCardTitleMaxLength))</p>
            </a>
            <div class="d-flex align-items-center justify-content-between recipe-info">
                    <span class="badge @BadgeColorHelper.GetBadgeColor(Model.MealType)">@Model.MealType</span>                    
                    <div class="d-flex align-items-center justify-content-center time">
                    <i class="fa-solid fa-stopwatch"></i>
                        <span class="icon-text">@Model.CookingTime</span>
                    </div>
                </div>
            
            @if (Model.Description != null)
            {
            <div class="recipe-description">
                <p class="card-text text-overflow-clamp">@Model.Description.TrimToChar(RecipeCardDescriptionMaxLength)</p>
            </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>