@model RecipeAllViewModel
@inject IUserService UserService
@inject IFavouriteRecipeService FavouriteRecipeService
@using CookTheWeek.Common.Extensions
@using CookTheWeek.Services.Data.Interfaces
@using static CookTheWeek.Common.GeneralApplicationConstants
@{
    string recipeId = Model.Id.ToString();
    string userId = this.User.GetId();
    bool isOwner = await this.UserService.IsRecipeOwnerByIdAsync(recipeId, userId);
    bool isAdmin = User.IsAdmin();
}

<div class="col recipe-container">    
    <div class="card recipe-card">
        <div class="position-relative image-container">
            <img class="card-img-top" alt="Recipe Image" src="@Model.ImageUrl">
            @if (!string.IsNullOrEmpty(userId) && !isOwner && !isAdmin)
            {
                bool isLiked = await this.FavouriteRecipeService.IsLikedByUserIdAsync(recipeId, userId);

                <a class="add-to-favourites-button" onclick="toggleFavourites(event, '@recipeId', '@userId')">
                    @if (isLiked)
                    {
                        <i class="fas fa-heart liked-icon" data-toggle="tooltip" title="Remove from Favorites"></i>
                    }
                    else
                    {
                        <i class="fas fa-heart not-liked-icon" data-toggle="tooltip" title="Add to Favorites"></i>
                    }
                </a>
            } else if(isOwner && !isAdmin)
            {
                <i class="fa fa-user-circle" aria-hidden="true" data-toggle="tooltip" title="You own this Recipe"></i>
            }
            @if(userId != String.Empty && !isAdmin)
            {
                <div class="add-to-mealplan-container">
                    <a data-recipeId="@Model.Id" class="plus fixed-size-btn btn btn-icon-only">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            }            
    </div>
        <div class="card-body p-2">
            <a class="recipe-details-link" asp-area="" asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl">
                <p class="recipe-title">@Model.Title.TrimToChar(RecipeCardTitleMaxLength)</p>
            </a>
            <div class="d-flex align-items-center justify-content-between recipe-info">
                    <span class="badge @GetBadgeColor(Model.Category.Name)">@Model.Category.Name</span>                    
                    <div class="d-flex align-items-center justify-content-center g-1">
                        <i class="material-icons card-icon">timer</i>
                        <span class="icon-text">&nbsp;@Model.CookingTime</span>
                    </div>
                </div>
            
            @if (Model.Description != null)
            {
            <div class="recipe-description">
                <p class="card-text text-overflow-clamp">@Model.Description.TrimToChar(RecipeCardDescriptionMaxLength)</p>
            </div>
            }
        </div>
    </div>
</div>
@functions {
    public string GetBadgeColor(string mealCategoryName)
    {
        switch (mealCategoryName)
        {
            case "Breakfast": 
                return "bg-breakfast-yellow text-dark";
            case "Soup": 
                return "bg-soup-orange";
            case "Salad":
                return "bg-salad-green";
            case "Main Dish": 
                return "bg-main-dish-red";
            case "Appetizer":
                return "bg-appetizer-green text-dark";
            case "Dessert": 
                return "bg-dessert-pink text-dark";
            default:
                return "bg-white text-dark";
        }
    }
}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>