@model AllIngredientsQueryModel
@{
    ViewData["Title"] = "All ingredients";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="for-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in @Model.Ingredients)
        {
            <tr>
                <td>@ingredient.Id</td>
                <td>@ingredient.Name</td>
                <td>@ingredient.Category</td>
            </tr>
        }
    </tbody>
</table>