@model AllIngredientsQueryModel
@using static CookTheWeek.Common.GeneralApplicationConstants
@{
    string returnUrl = ViewBag.ReturnUrl ?? "/Admin/IngredientAdmin/All";

    var adminHeading = new PageHeadingViewModel
    {
        Subheading = "All Ingredients",
        HeadingSecondary = "Browse & manage ingredients"
    };


    string paginationClass = Model.TotalResults > Model.IngredientsPerPage ? "" : "hidden";
    
    int maxPage = (int)Math.Ceiling((double)Model.TotalResults / Model.IngredientsPerPage);
    int previousPage = Model.CurrentPage - 1;
    int nextPage = Model.CurrentPage + 1;

    bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage || !Model.Ingredients.Any();
    bool shouldPreviousPageBeDisabled = Model.CurrentPage == 1;
    
}

<div class="wide-contents-container" id="admin">
    <partial name="_HeadingPartial" model="adminHeading"/>

    <div class="row text-center filter-container fix-padding">
        <form id="all-ingredients-form" method="get">
            <div class="row align-items-center justify-content-between gx-3">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 order-md-first">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-utensils"></i></span>
                        <select asp-for="CategoryId" class="form-select">
                            <option value="">All</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-12 col-lg-4 order-first order-md-2">
                    <div class="input-group searchBox">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input asp-for="SearchString" 
                        class="form-control search ingredientName" 
                        placeholder="Ingredient name..." 
                        autocomplete="off"/>
                        <button type="submit" value="Search" class="search-btn" form="all-ingredients-form"><i class="fa-solid fa-filter"></i></button>
                        <div class="suggestionsList invisible">
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-2 order-lg-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-arrow-down-wide-short"></i></span>
                        <select asp-for="IngredientSorting" class="form-select">
                            @foreach (var sorting in Model.IngredientSortings)
                            {
                                <option value="@sorting.Id">@sorting.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-2 order-lg-4">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-table-cells-large"></i></span>
                        <select asp-for="IngredientsPerPage" class="form-select">
                            @foreach (var perPage in AdminPerPageOptions)
                            {
                                <option value="@perPage">@perPage</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="container">
            @if (!Model.Ingredients.Any())
            {
                <h2 class="text-center">No ingredients found by the given criteria!</h2>
            }
            else
            {
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th><label>Id</label></th>
                            <th><lable>Name</lable></th>
                            <th><label>Category</label></th>
                            <th><label>Edit</label></th>
                            <th><lable>Delete</lable></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ingredient in @Model.Ingredients)
                        {
                            <tr>
                                <td class="align-baseline">@ingredient.Id</td>
                                <td class="align-baseline">@ingredient.Name</td>
                                <td class="align-baseline">@ingredient.Category</td>
                                <td class="align-baseline">
                                    <a class="btn" asp-area="Admin" asp-controller="IngredientAdmin" asp-action="Edit" asp-route-id="@ingredient.Id">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </td>
                                <td class="align-baseline">
                                    <a class="btn" asp-area="Admin" asp-controller="IngredientAdmin" asp-action="Delete" asp-route-id="@ingredient.Id" asp-route-returnUrl="@returnUrl">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        
    </div>
    @{
        
    }

    <!-- Pagination buttons -->
    <div class="pagination-and-build-btn-container">
        <div aria-label="Page navigation" id="pagination-buttons" class="@paginationClass">
            
            <div class="">
                <a class="pagination-btn @(shouldPreviousPageBeDisabled ? "disabled" : string.Empty)"
                asp-area="Admin"
                asp-controller="IngredientAdmin"
                asp-action="All"
                asp-route-currentPage="@previousPage"
                asp-route-ingredientsPerPage="@Model.IngredientsPerPage"
                asp-route-categoryId="@Model.CategoryId"
                asp-route-searchString="@Model.SearchString"
                asp-route-ingredientSorting="@(Model.IngredientSorting ?? 0)"
                aria-disabled="@(shouldPreviousPageBeDisabled ? true : false)">
                    <i class="fa-solid fa-angles-left"></i>
                </a>
            </div>

                <div class="">
                <a class="pagination-btn @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
                asp-area="Admin"
                asp-controller="IngredientAdmin"
                asp-action="All"
                asp-route-currentPage="@nextPage"
                asp-route-ingredientsPerPage="@Model.IngredientsPerPage"
                asp-route-categoryId="@Model.CategoryId"
                asp-route-searchString="@Model.SearchString"
                asp-route-ingredientSorting="@(Model.IngredientSorting ?? 0)"
                aria-disabled="@(shouldNextPageBeDisabled ? true : false)">
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
            
        </div>
   </div>

</div>

@section Scripts
{
    <script src="~/js/suggestions.js"></script>
}