@model MealDetailsViewModel
@using static CookTheWeek.Common.HelperMethods.IngredientHelper;
@{
    var headingModel = new PageHeadingViewModel
            {
                Subheading = "Meal Details",
                HeadingSecondary = $"Cooking {Model.Title} for {Model.ServingSize}"
            };

    int mealId = Model.Id;
}

<div id="meal-cook-container" class="card-container">
    <partial name="_HeadingPartial" model="headingModel" />
    <!-- Just this -->
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true"><span>Info</span></a></li>
                <li class="nav-item"><a class="nav-link" id="ingredients-tab" data-bs-toggle="tab" data-bs-target="#ingredients" type="button" role="tab" aria-controls="ingredients" aria-selected="false"><span>Ingredients</span></a></li>
                <li class="nav-item"><a class="nav-link" id="instructions-tab" data-bs-toggle="tab" data-bs-target="#instructions" type="button" role="tab" aria-controls="instructions" aria-selected="false">Instructions</a></li>
            </ul>
            <partial name="_BackBtnPartial" />
        </div>

        <div class="card-body p-0" id="meal-details">
            <div id="info-content" class="tab-content g-3">
                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="img-container">
                                <img class="img-fluid image" alt="Meal Image" src="@Model.ImageUrl">

                                @if (!Model.IsCooked)
                                {
                                    <div class="cook-meal-container">
                                        <button class="cook-meal-button plus fixed-size-btn btn btn-icon-only" onclick="cookMeal(event, '@mealId')" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark as Cooked">
                                            <i class="fas fa-utensils"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 p-3 features-row">
                        <div class="col d-flex align-items-center mb-1">
                            <span class="icon-container me-2">
                                <i class="fa-solid fa-list"></i>
                            </span>
                            <span class="list-item-content">@Model.CategoryName</span>
                        </div>
                        <div class="col d-flex align-items-center mb-1">
                            <span class="icon-container me-2">
                                <i class="fa-solid fa-calendar-plus"></i>
                            </span>
                            <span class="list-item-content">Cook on: @Model.CookingDate</span>
                        </div>
                        <div class="col d-flex align-items-center mb-1">
                            <span class="icon-container me-2">
                                <i class="fa-solid fa-utensils"></i>
                            </span>
                            <span class="list-item-content">@Model.ServingSize Portions</span>
                        </div>
                        <div class="col d-flex align-items-center mb-1">
                            <span class="icon-container me-2">
                                <i class="fa-solid fa-hourglass-start"></i>
                            </span>
                            <span class="list-item-content">@Model.CookingTime needed</span>
                        </div>
                        <div class="col d-flex align-items-center mb-1">
                            <span class="icon-container me-2">
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                            <span class="list-item-content">@Model.IngredientsByCategories.Sum(category => category.SupplyItems.Count) ingredients</span>
                        </div>
                        <div class="col d-flex align-items-center mb-1">
                            <span class="icon-container me-2">
                                <i class="fas fa-layer-group"></i>
                            </span>
                            <span class="list-item-content">Difficulty level: medium</span>
                        </div>
                    </div>
                    <div class="row mt-2 mb-4">
                        <div class="newspaper-column">
                            <p class="recipe-description">@Model.Description</p>
                        </div>
                    </div>
                </div>
                <div id="ingredients" class="tab-pane fade" role="tabpanel" aria-labelledby="ingredients-tab">
                    <div class="row p-2 g-1">
                        <div class="col-12 mb-3">
                            <h5 class="meal-title">For @Model.ServingSize will be needed:</h5>
                        </div>
                        @foreach (var category in Model.IngredientsByCategories)
                        {
                            if (category.SupplyItems.Count > 0)
                            {
                                <div class="col col-12 col-sm-6 col-lg-4">
                                    <p class="ingredient-heading">@category.Title</p>
                                    <ul class="list-unstyled">
                                        @foreach (var item in category.SupplyItems)
                                        {
                                            <li>@Html.Raw(item.Qty) <span class="units-styler">@item.Measure</span> @item.Name <span class="units-styler">@item.Specification</span></li>
                                        }
                                    </ul>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div id="instructions" class="tab-pane fade" role="tabpanel" aria-labelledby="instructions-tab">
                    <div class="row py-4">
                        <div class="col">
                            @for (int i = 0; i < Model.CookingSteps.Count; i++)
                            {
                                string currentStepText = Model.CookingSteps[i].Description;
                                <div class="row mb-2 d-flex align-items-start">
                                    @if (i > 0)
                                    {
                                        <hr class="steps-delimeter" />
                                    }
                                    <div class="col-auto">
                                        <div class="step-number">@(i + 1)</div>
                                    </div>
                                    <div class="col">@currentStepText</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/cookMeal.js"></script>
}
