@model RecipeFormViewModel
@{
    ViewData["Title"] = "Add Recipe";
}
<div class="container" style="max-width:700px;">
    <h2 class="text-center pt-5 fw-semibold">Add Recipe</h2>
    <!-- TABS CONTROLLER -->
    <ul class="nav nav-tabs" id="recipe" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Info</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="steps-tab" data-bs-toggle="tab" data-bs-target="#steps" type="button" role="tab" aria-controls="steps" aria-selected="false" disabled>Steps</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="ingredients-tab" data-bs-toggle="tab" data-bs-target="#ingredients" type="button" role="tab" aria-controls="ingredients" aria-selected="false">Ingredients</button>
        </li>
    </ul>
    <!-- END OF TABS CONTROLLER -->
    <!-- TAB CONTENTS -->
    <div class="tab-content" id="recipeContent">
        <div class="tab-pane fade show active py-5" id="info" role="tabpanel" aria-labelledby="info-tab">
            <form method="post" asp-controller="Recipe" asp-action="Add">
                <!-- First row -->
                <div class="row mb-3">
                    <div class="form-group col-10">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Name it..">
                    <span asp-validation-for="Title" class="small text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="Servings" class="form-label">Servs</label>
                    <select asp-for="Servings" class="form-control">                        
                         @foreach (var option in @Model.ServingsOptions)
                        {
                             <option value="@option.Key">@option.Value</option>
                        } 
                    </select>
                    <span asp-validation-for="Servings" class="small text-danger"></span>
                </div>
            </div>
            <!-- Second row -->
            <div class="row mb-3">
                <div class="form-group col-10">
                    <label asp-for="Description" class="form-label">Description</label>
                        <textarea asp-for="Description" rows="3" class="form-control" placeholder="What it is.."></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="CookingTimeMinutes" class="form-label">Minutes</label>
                    <input asp-for="CookingTimeMinutes" class="form-control">
                    <span asp-validation-for="CookingTimeMinutes" class="small text-danger"></span>
                </div>
            </div>
            <!-- Third row -->
            <div class="row mb-3">
                <div class="form-group col-8">
                    <label asp-for="ImageUrl" class="form-label">Image Link</label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="RecipeCategoryId" class="form-label">Meal</label>
                    <select asp-for="RecipeCategoryId" class="form-control">
                        @foreach (var category in @Model.Categories!)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="RecipeCategoryId" class="small text-danger"></span>
                </div>
            </div>

            <!-- Fourth row -->
            <div class="row mb-3">
                <div class="form-froup">
                    <label asp-for="Instructions" class="form-label">Instructions</label>
                    <textarea asp-for="Instructions" rows="4" class="form-control" placeholder="How to cook..."></textarea>
                    <span asp-validation-for="Instructions" class="small text-danger"></span>
                </div>
            </div>
                <button id="addRecipe" class="btn btn-dark btn-lg text-light mt-3" type="submit">Save</button>
            </form>
        </div>
        <!-- END OF FIRST TAB: INFO -->
        <!-- START SECOND TAB: STEPS -->
        <div class="tab-pane fade py-5" id="steps" role="tabpanel" aria-labelledby="steps-tab">
            <!-- TODO: make steps instead of Instructions textarea -->
        </div>
        <!-- END OF SECOND TAB: STEPS -->
        <!-- START THIRD TAB: INGREDIENTS -->
        <div class="tab-pane fade py-5" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
            <!-- Add ingredients here -->
            <h5 class="mb-2">Add Ingredients</h5>
            <div id="ingredients" class="row">
                <partial name="_AddRecipeIngredientPartial" model="@Model.Ingredient" />
            </div>
            <!-- END OF INGREDIENTS HERE!!!  -->
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>initialize();</script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
}