@model RecipeAddFormModel
@using static CookTheWeek.Common.GeneralApplicationConstants;
@{
    ViewData["Title"] = "Add Recipe";

    int nextIngredientIndex = Model.RecipeIngredients.Count;
    int nextStepIndex = Model.Steps.Count;

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),

    };

    if (User.GetId() != string.Empty && !User.IsAdmin())
    {
        headingModel.HeadingSecondary = "Add your favorite recipe to your personal collection";
    }  
}

<div id="add-recipe" class="card-container">
    <partial name="_HeadingPartial" model="headingModel" />
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="recipe" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Recipe Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="ingredients-tab" data-bs-toggle="tab" data-bs-target="#ingredients" type="button" role="tab" aria-controls="ingredients" aria-selected="false">Ingredients</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="instructions-tab" data-bs-toggle="tab" data-bs-target="#instructions" type="button" role="tab" aria-controls="instructions" aria-selected="false">Instructions</button>
                </li>
            </ul>
        </div>
        
        <div class="card-body">
            <form id="add-recipe-form" method="post" asp-area="" asp-controller="Recipe" asp-action="Add">
                <div id="info-content" class="tab-content g-3">
                    @* TAB RECIPE DETAILS *@
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="row">
                            <div class="col col-12 col-md-8 col-xl-9 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Title</span>
                                    <input asp-for="Title" class="form-control" placeholder="Name it.." type="text">
                                </div>
                                <span asp-validation-for="Title" class="small text-danger"></span>
                            </div>
                            <div class="col col-12 col-md-4 col-xl-3 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Servs</span>
                                    <select class="form-control" asp-for="Servings">
                                        <option value="">Choose</option>
                                        @foreach (var option in @Model.ServingsOptions)
                                        {
                                            <option value="@option">@option</option>
                                        }
                                    </select>
                                </div>
                                <span asp-validation-for="Servings" class="small text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12 col-md-7 col-xl-8 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Description</span>
                                    <textarea asp-for="Description" rows="3" class="form-control" placeholder="What it is.."></textarea>
                                </div>
                                <span asp-validation-for="Description" class="small text-danger"></span>
                            </div>
                            <div class="col col-12 col-md-5 col-xl-4 p-2">
                                <div class="input-group"><span class="input-group-text">Ready For</span>
                                    <input asp-for="CookingTimeMinutes" class="form-control" type="number">
                                </div>
                                <span asp-validation-for="CookingTimeMinutes" class="small text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12 col-md-6 col-xl-7 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Image URL</span>
                                    <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here..." type="url">
                                </div>
                                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                            </div>
                            <div class="col col-12 col-md-6 col-xl-5 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Meal Type</span>
                                    <select asp-for="RecipeCategoryId" class="form-control">
                                        <option value="">Choose</option>
                                        @foreach (var category in @Model.Categories!)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                </div>
                                <span asp-validation-for="RecipeCategoryId" class="small text-danger"></span>
                            </div>

                        </div>
                    </div>
                   @*  TAB INSTRUCTIONS *@                    
                    <div class="tab-pane fade" id="instructions" role="tabpanel" aria-labelledby="instructions-tab">
                        <div id="instructions-content" class="tab-content">
                            <div id="instructionsContainer" class="row g-3">
                                <div id="instructionsList">
                                    @for (int i = 0; i < Model.Steps.Count; i++)
                                    {
                                        <div class="row instructions-row align-items-center">
                                            <div class="col-11 p-2">
                                                <div class="input-group">
                                                    <span class="input-group-text">Step</span>
                                                    <textarea class="form-control" asp-for="Steps[i].Description" rows="3" placeholder="Tell us how to cook.."></textarea>
                                                </div>
                                                <span asp-validation-for="Steps[i].Description" class="small text-danger"></span>
                                            </div>
                                            <div class="col-1 p-2">
                                                <div class="add-step-btn-container d-flex justify-content-center align-items-top adjust-btn-position">
                                                    <button class="btn remove-btn btn-danger remove-step" type="button">
                                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <hr />
                                @* Add Step Btn *@
                                <div class="row justify-content-end pt-3 pb-2">
                                    <div class="col-6">
                                        <!-- Empty column to push the button to the end -->
                                    </div>
                                    <div class="col-6 text-end">
                                        <a id="add-step" class="btn btn-outline-primary" type="button">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Step
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* TAB INGREDIENTS *@                    
                    <div class="tab-pane fade" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
                        <div id="ingredients-content" class="tab-content">
                            <div id="ingredientsContainer" class="row g-3">
                                <div id="ingredientList">
                                    @for (int i = 0; i < Model.RecipeIngredients.Count; i++)
                                    {
                                        <div class="row ingredient-row">
                                            <div class="col col-6 col-lg-4 p-2">
                                                <div class="input-group">
                                                    <span asp-for="RecipeIngredients[i].Name" class="input-group-text">Ingredient</span>
                                                    <input asp-for="RecipeIngredients[i].Name" class="form-control ingredientName" type="text" autocomplete="off">
                                                    <div class="suggestionsList invisible">
                                                    </div>
                                                </div>
                                                <span asp-validation-for="RecipeIngredients[i].Name" class="small text-danger"></span>
                                            </div>
                                            <div class="col col-6 col-lg-3 p-2">   
                                                <div> 
                                                    <div class="decimal-qty-input input-group">
                                                        <span class="input-group-text">Qty</span>
                                                        <input asp-for="RecipeIngredients[i].Qty.QtyDecimal" class="form-control qty-decimal" placeholder="0.00" />
                                                    </div>
                                                    <span asp-validation-for="RecipeIngredients[i].Qty.QtyDecimal" class="small text-danger"></span>
                                                </div>
                                                <div class="fraction-qty-inputs input-group" style="display: none;">
                                                    <span class="input-group-text">Qty</span>
                                                    <input asp-for="RecipeIngredients[i].Qty.QtyWhole" class="form-control qty-whole" placeholder="0">
                                                    <select asp-for="RecipeIngredients[i].Qty.QtyFraction" class="form-select qty-fraction">
                                                        <option value="">Frac</option>
                                                        @foreach (var option in QtyFractionOptions)
                                                        {
                                                            <option value="@option.Key">@option.Key</option>
                                                        }
                                                    </select>
                                                </div>  
                                                <span asp-validation-for="RecipeIngredients[i].Qty.QtyWhole" class="small text-danger"></span>
                                                <span asp-validation-for="RecipeIngredients[i].Qty.QtyFraction" class="small text-danger"></span>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input show-fraction-checkbox" type="checkbox" />
                                                    <label class="form-check-label">Use Fractions</label>
                                                </div>
                                            </div>
                                            <div class="col col-5 col-lg-2 p-2">
                                                <div class="input-group">
                                                    <span class="input-group-text">Unit</span>
                                                       <select asp-for="RecipeIngredients[i].MeasureId" class="form-control">
                                                            <option value="">Unit</option>
                                                            @foreach (var measure in @Model.RecipeIngredients!.First().Measures!)
                                                            {
                                                                <option value="@measure.Id">@measure.Name</option>
                                                            }
                                                        </select>
                                                </div>
                                                <span asp-validation-for="RecipeIngredients[i].MeasureId" class="small text-danger"></span>
                                            </div>
                                            <div class="col col-6 col-lg-2 p-2">
                                                <div class="input-group">
                                                    <span class="input-group-text">Note</span>
                                                    <select class="form-control" asp-for="RecipeIngredients[i].SpecificationId">
                                                        <option value="">Type</option>
                                                        @foreach (var specification in Model.RecipeIngredients!.First().Specifications!)
                                                        {
                                                            <option value="@specification.Id">@specification.Description</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col col-1 p-2 d-flex justify-content-center align-items-top adjust-btn-position">
                                                <a class="btn remove-btn btn-danger remove-ingredient" type="button">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </a>                                                
                                            </div>
                                        </div>
                                    }
                                </div>
                                <hr />
                                @* Add Ingredient Btn *@
                                <div class="row justify-content-end pt-3 pb-2">
                                    <div class="col-6">
                                        <!-- Empty column to push the button to the end -->
                                    </div>
                                    <div class="col-6 text-end">
                                        <a id="add-ingredient" class="btn btn-outline-primary" type="button">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Ingredient
                                        </a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col text-center pt-3 pb-2">
                    @* SUBMIT FORM BTN *@
                    <button form="add-recipe-form" class="btn btn-success text-dark btn-lg" type="submit">Add Recipe</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        $('.ingredientName').on('keyup', suggestWords);
        function suggestWords() {
            let inputValue = $(this).val();
            $(this).next().empty();
            let contextForm = this;
            let suggestionsContainer = this.parentNode.querySelector("div.suggestionsList");

            if (inputValue.length > 1) {
                $.ajax({
                    url: 'https://localhost:7279/api/recipeingredient/suggestions',
                    type: "get",
                    data: {
                        input: inputValue
                    },
                    dataType: 'json',
                    success: function (response) {
                        renderSuggestionResults(response, inputValue, suggestionsContainer, contextForm);
                    }
                });
            } else {
                $(this).next().empty();
            }
        }
        function renderSuggestionResults(results, search, container, inputForm) {
            // delete unordered list from previous search result
            $(container).empty();
            
            // get properties from input field
            let form_font = window.getComputedStyle(inputForm, null).getPropertyValue('font-size');
            let form_width = inputForm.offsetWidth;

            //set result list to same width less borders
            container.style.width = form_width.toString() + 'px';

            if (results.length > 0) {
                // create ul and set classes
                let ul = document.createElement('UL');
                ul.classList.add('list-group', 'mt-2');

                // create list of results and append to ul
                results.map(function (item) {

                    let a = document.createElement('A');
                    a.classList.add('autocomplete-result', 'list-group-item', 'p-1'); // autocomplete used for init click event, other classes are from bootstrap
                    a.style.fontSize = form_font;
                    a.href = "#";
                    a.setAttribute("id", item.id); // used for click-Event to fill the form

                    // see function below - marked search string in results
                    a.innerHTML = colorResults(item.name, search);

                    // add Eventlistener for chosen renderResults
                    a.addEventListener("click", function (event) {
                        event.preventDefault();
                        event.stopPropagation();
                        // get text from list item and set it into reffered form field
                        let ingredientName = a.innerText;
                        let ingredientId = $(a).attr('id');

                        inputForm.value = ingredientName;
                        $('#addButton a.btn').attr("id", ingredientId.toString());

                        // after a result is chose, make the div with results invisible -> or after changing input content again,
                        // all of childs of current div will be deleted [line 48,49]
                        $(container).empty(); // NOT SURE!
                        container.classList.add('invisible');

                    });
                    ul.append(a);
                });

                // append ul to container and make container visible
                container.append(ul);
                container.classList.remove('invisible');

            }
            else {
                container.classList.add('invisible');

            }
        }
        // create span's with colored marked search strings
        function colorResults(string, search) {
            let splitted = string.toLowerCase().split(search.toLowerCase());

            let sp = []; // array of all spans, created in folling loop
            let start = 0; //start for slicing

            splitted.map(function (element, index) {
                // empty string at the beginning
                if (element == false) {
                    sp.push("<span class='text-success'>" + string.slice(start, start + search.length) + "</span>");
                    start = start + search.length;
                }
                else if (index + 1 == splitted.length) {
                    sp.push("<span>" + string.slice(start, start + element.length) + "</span>");
                }
                else {
                    sp.push("<span>" + string.slice(start, start + element.length) + "</span>");
                    start = start + element.length;
                    sp.push("<span class='text-success'>" + string.slice(start, start + search.length) + "</span>");
                    start = start + search.length;
                }
            });
            return sp.join('')
        }
    
    </script>
    <script>
        $(document).ready(function () {
            var ingredientIndex = @nextIngredientIndex;
            var stepIndex = @nextStepIndex;

            // TODO: Fix client-side validation for dynamically added input fields (input and select)

            // Ingredient Functions
            $('#add-ingredient').click(function () {
                var newIngredientHtml = ` <hr/>
                  <div class="row ingredient-row">
                     <div class="col col-6 col-lg-4 p-2">
                         <div class="input-group">
                             <span class="input-group-text">Ingredient</span>
                             <input id="RecipeIngredients_${ingredientIndex}__Name" class="ingredientName form-control" type="text" name="RecipeIngredients[${ingredientIndex}].Name" autocomplete="off" required />
                             <div class="suggestionsList invisible"></div>
                         </div>
                         <span class="small text-danger" data-valmsg-for="RecipeIngredients[${ingredientIndex}].Name" data-valmsg-replace="true" class="small text-danger"></span>
                     </div>
                     <div class="col col-6 col-lg-3 p-2">
                        <div class="decimal-qty-input input-group">
                            <span class="input-group-text">Qty</span>
                            <input id="RecipeIngredients_${ingredientIndex}__Qty.QtyDecimal" class="form-control qty-decimal" placeholder="0.00" name="RecipeIngredients[${ingredientIndex}].Qty.QtyDecimal" min="0.001" max="9999.99" />
                                    
                        </div>
                        <span data-valmsg-for="RecipeIngredients[${ingredientIndex}].Qty.QtyDecimal" data-valmsg-replace="true" class="small text-danger"></span>
                        <div class="fraction-qty-inputs input-group" style="display: none;">
                            <span class="input-group-text">Qty</span>
                            <input id="RecipeIngredients_${ingredientIndex}__Qty.QtyWhole" class="form-control qty-whole" placeholder="0" name="RecipeIngredients[${ingredientIndex}].Qty.QtyWhole" min="1" max="9999"/>
                            <select id="RecipeIngredients_${ingredientIndex}__Qty.QtyFraction" class="form-control qty-fraction" name="RecipeIngredients[${ingredientIndex}].Qty.QtyWhole">
                                <option value="">Frac</option>
                            @foreach (var option in QtyFractionOptions)
                            {
                                <option value="@option.Key">@option.Key</option>
                            }
                            </select>
                        </div>
                        <span data-valmsg-for="RecipeIngredients[${ingredientIndex}].Qty.QtyWhole" class="small text-danger" data-valmsg-replace="true"></span>
                        <span data-valmsg-for="RecipeIngredients[${ingredientIndex}].Qty.QtyFraction" class="small text-danger" data-valmsg-replace="true"></span>
                        <div class="form-check form-switch">
                            <input class="form-check-input show-fraction-checkbox" type="checkbox" />
                            <label class="form-check-label">Use Fractions</label>
                        </div>
                     </div>
                     <div class="col col-5 col-lg-2 p-2">
                         <div class="input-group">
                            <span class="input-group-text">Unit</span>
                            <select id="RecipeIngredients_${ingredientIndex}__MeasureId" class="form-control" name="RecipeIngredients[${ingredientIndex}].MeasureId" required >
                                <option value="">Unit</option>`;
                            @foreach (var measure in @Model.RecipeIngredients.First().Measures)
                            {
                                <text>newIngredientHtml += '<option value="@measure.Id">@measure.Name</option>'; </text>
                            }
                                    newIngredientHtml +=
                            `</select>
                        </div>
                        <span class="small text-danger" data-valmsg-for="RecipeIngredients[${ingredientIndex}].MeasureId" data-valmsg-replace="true"></span>
                     </div>
                     <div class="col col-6 col-lg-2 p-2">
                         <div class="input-group">
                             <span class="input-group-text">Note</span>
                             <select id="RecipeIngredients_${ingredientIndex}__SpecificationId" class="form-control" name="RecipeIngredients[${ingredientIndex}].SpecificationId">
                                 <option value="">Type</option>`;
                            @foreach (var specification in @Model.RecipeIngredients.First().Specifications)
                            {
                                <text>newIngredientHtml += '<option value="@specification.Id">@specification.Description</option>'; </text>
                            }
                            newIngredientHtml +=
                            `</select>
                         </div>
                     </div>
                     <div class="col col-1 p-2 d-flex justify-content-center align-items-top adjust-btn-position">
                        <a class="btn remove-btn btn-danger remove-ingredient" type="button">
                           <i class="fa fa-minus" aria-hidden="true"></i>
                        </a>
                     </div>
                </div>`;

                $('#ingredientList').append(newIngredientHtml);
                ingredientIndex++;

                $('.ingredientName').on('keyup', suggestWords);
            });
            $(document).on('click', '.remove-ingredient', function (event) {
                var ingredientCount = $('.ingredient-row').length;
                if (ingredientCount === 1) {
                    event.preventDefault();
                    toastr.error('At least one ingredient is required.');
                    return false;
                }
                // remove the horizontal line
                var ingredientRow = $(this).closest('.ingredient-row');
                var precedingHr = ingredientRow.prev('hr');
                var followingHr = ingredientRow.next('hr');

                ingredientRow.remove();

                if (precedingHr.length && !precedingHr.next().hasClass('ingredient-row')) {
                    precedingHr.remove();
                }

                // Check if a following <hr/> exists and if it's the only one, remove it
                if (followingHr.length && !followingHr.prev().hasClass('ingredient-row')) {
                    followingHr.remove();
                } else {
                    // If there's no preceding ingredient row, check if there's a following <hr> and remove it
                    var nextIngredientRow = ingredientRow.next('.ingredient-row');
                    if (!nextIngredientRow.length) {
                        followingHr.remove();
                    }
                }
                ingredientIndex--;
                reindexIngredients();
            });
            function reindexIngredients() {
                $('.ingredient-row').each(function (index) {
                    var row = $(this);

                    // Update IDs and Names for visible input fields
                    row.find('[id]').each(function () {
                        var newId = this.id.replace(/\d+/, index);
                        $(this).attr('id', newId);
                    });
                    row.find('[name]').each(function () {
                        // Update name attribute for all fields except the ones related to the Qty property
                        if (!$(this).attr('name').includes('.Qty')) {
                            this.name = this.name.replace(/\[\d+\]/, '[' + index + ']');
                        }
                    });

                    // Update name attribute for Qty fields
                    row.find('input.qty-whole, input.qty-decimal, select.qty-fraction').each(function () {
                        var newName = $(this).attr('name').replace(/\[\d+\]\.Qty/, '[' + index + '].Qty');
                        $(this).attr('name', newName);
                    });

                    // Update data-valmsg-for attribute for Qty validation spans
                    row.find('.small[data-valmsg-for]').each(function () {
                        var propertyName = $(this).attr('data-valmsg-for').split('.')[2];
                        var newIndex = '[' + index + '].Qty.' + propertyName;
                        $(this).attr('data-valmsg-for', 'RecipeIngredients' + newIndex);
                    });

                    row.find('input[aria-describedby], select[aria-describedby]').each(function () {
                        var ariaDescribedBy = $(this).attr('aria-describedby');
                        if (ariaDescribedBy && ariaDescribedBy.includes('RecipeIngredients_') && ariaDescribedBy.includes('__') && ariaDescribedBy.split('_')[1] != index) {
                            var newAriaDescribedBy = ariaDescribedBy.replace(/\d+/, index);
                            $(this).attr('aria-describedby', newAriaDescribedBy);
                        }
                    });
                     });
                    $('form').validate().form();
                }
            $('#ingredientsContainer').on('change', '.show-fraction-checkbox', function (event) {
                var ingredientLine = $(event.target).closest('.ingredient-row');
                var decimalQtyInput = ingredientLine.find('.decimal-qty-input');
                var fractionQtyInputs = ingredientLine.find('.fraction-qty-inputs');

                if ($(event.target).is(':checked')) {
                    decimalQtyInput.hide();
                    fractionQtyInputs.show();
                    // Clear decimal input
                    decimalQtyInput.find('input').val('');
                } else {
                    decimalQtyInput.show();
                    fractionQtyInputs.hide();
                    // Clear fraction inputs
                    fractionQtyInputs.find('input, select').val('');
                }
            });


            // Instructions Functions
            $('#add-step').click(function () {
                var newStepHtml = `<hr/>
                        <div class="row instructions-row align-items-center">
                            <div class="col-11 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Step</span>
                                    <textarea id="Steps_${stepIndex}__Description" class="form-control" name="Steps[${stepIndex}].Description" rows="3" placeholder="Tell us how to cook.." required="true"></textarea>
                                </div>
                                <span  class="small text-danger" data-valmsg-for="Steps[${stepIndex}].Description" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-1 p-2">
                                <div class="add-step-btn-container d-flex justify-content-center align-items-top adjust-btn-position">
                                    <button class="btn remove-btn btn-danger remove-step" type="button">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>`;
                $('#instructionsList').append(newStepHtml);
                stepIndex++;
               
            });
            $(document).on('click', '.remove-step', function (event) {
                var stepsCount = $('.instructions-row').length;
                if (stepsCount === 1) {
                    event.preventDefault();
                    toastr.error('At least one cooking step is required.');
                    return false;
                }
                // remove the horizontal line
                var stepRow = $(this).closest('.instructions-row');
                var precedingHr = stepRow.prev('hr');
                var followingHr = stepRow.next('hr');

                stepRow.remove();

                if (precedingHr.length && !precedingHr.next().hasClass('instructions-row')) {
                    precedingHr.remove();
                }

                // Check if a following <hr/> exists and if it's the only one, remove it
                if (followingHr.length && !followingHr.prev().hasClass('instructions-row')) {
                    followingHr.remove();
                } else {
                    // If there's no preceding ingredient row, check if there's a following <hr> and remove it
                    var nextStepRow = stepRow.next('.instructions-row');
                    if (!nextStepRow.length) {
                        followingHr.remove();
                    }
                }
                stepIndex--;
                reindexSteps();
            });
            function reindexSteps() {
                $('.instructions-row').each(function (index) {
                    var row = $(this);

                    // Update IDs and Names for textarea fields
                    row.find('[id]').each(function () {
                        var newId = this.id.replace(/\d+/, index);
                        $(this).attr('id', newId);
                    });
                    row.find('[name]').each(function () {
                        this.name = this.name.replace(/\[\d+\]/, '[' + index + ']');
                    });

                   
                    // Update data-valmsg-for attribute for validation spans
                    row.find('.small[data-valmsg-for]').each(function () {
                        $(this).attr('data-valmsg-for', `Steps[${index}].Description`);
                    });

                    row.find('textarea[aria-describedby]').each(function () {
                        var ariaDescribedBy = $(this).attr('aria-describedby');
                        if (ariaDescribedBy && ariaDescribedBy.includes('Steps_') && ariaDescribedBy.includes('__') && ariaDescribedBy.split('_')[1] != index) {
                            var newAriaDescribedBy = ariaDescribedBy.replace(/\d+/, index);
                            $(this).attr('aria-describedby', newAriaDescribedBy);
                        }
                    });
                });
                $('form').validate().form();
            }
            
        });

    </script>    
}
