@model AllRecipesQueryModel

@{
    ViewBag.Title = "All Recipes";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container-xl" style="max-width: 1200px;">
    <div class="row">
        <form method="get" class="pb-4">
            <div class="row justify-content-between align-items-center">
                <div class="col-sm-auto">
                    <div class="form-group">
                        <label asp-for="Category" class="form-label">Category</label>
                        <select asp-for="Category" class="form-control">
                            <option value="">All</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category">@category</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="SearchString" class="form-label">Search</label>
                        <input asp-for="SearchString" class="form-control" placeholder="..." />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label asp-for="RecipeSorting" class="form-label">Sort By</label>
                        <select asp-for="RecipeSorting" class="form-control">
                            @foreach (var option in Model.RecipeSortings)
                            {
                                <option value="@option.Key">@option.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="row align-items-end">
                        <div class="col-sm-6">
                            <div class="form-group mb-0">
                                <label asp-for="RecipesPerPage" class="form-label">Per Page</label>
                                <select asp-for="RecipesPerPage" class="form-control">
                                    <option value="3">3</option>
                                    <option value="6">6</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mb-0 d-flex justify-content-end">
                                <button type="submit" value="Search" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="container pt-2">
            @if (!Model.Recipes.Any())
            {
                <h2 class="text-center">No recipes found by the given criteria!</h2>
            }
            else
            {
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 @*mb-5 d-flex justify-content-start *@">
                    @foreach (var recipe in Model.Recipes)
                    {
                        <partial name="_RecipeAllPartial" model="@recipe" />
                    }
                </div>
            }
        </div>      
        @{
            int previousPage = Model.CurrentPage - 1;
            if (previousPage < 1)
            {
                previousPage = 1;
            }

            int maxPage = (int)Math.Ceiling((double)Model.TotalRecipes / Model.RecipesPerPage);
        }
        <!-- Pagination buttons -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mt-3">
                <li class="page-item">
                    <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                       asp-controller="Recipe"
                       asp-action="All"
                       asp-route-currentPage="@previousPage"
                       asp-route-category="@Model.Category"
                       asp-route-searchTerm="@Model.SearchString"
                       asp-route-sorting="@((int)Model.RecipeSorting)"><<</a>
                </li>
                @{
                    bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
                    !Model.Recipes.Any();
                }
                <li class="page-item">
                    <a class="btn btn-primary
            @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
                       asp-controller="Recipe"
                       asp-action="All"
                       asp-route-currentPage="@(Model.CurrentPage + 1)"
                       asp-route-category="@Model.Category"
                       asp-route-searchTerm="@Model.SearchString"
                       asp-route-sorting="@((int)Model.RecipeSorting)">>></a>
                </li>
            </ul>
        </nav>
       
        
    </div>
</div>






