@model AllRecipesFilteredAndPagedViewModel
@inject IUserContext UserContext
@using static CookTheWeek.Common.GeneralApplicationConstants
@{

    Guid userId = UserContext.UserId;
    bool hasActiveMealplan = UserContext.HasActiveMealplan;

    var headingModel = new PageHeadingViewModel
    {
        Subheading = "Browse Recipes",
        HeadingSecondary = "Find delicious recipes to cook this week"
    };

    bool justLoggedIn = TempData[JustLoggedIn] as bool? ?? false;
    bool showModal = justLoggedIn || userId == default;

    if (showModal && hasActiveMealplan)
    {
        if (Model.ActiveMealPlan != null)
        {
            Model.ActiveMealPlan.HasActiveMealPlan = hasActiveMealplan;
            Model.ActiveMealPlan.UserId = userId;
            Model.ActiveMealPlan.JustLoggedIn = justLoggedIn;
        }       
    }

    bool isUserLoggedIn = userId != default;
    string showAdvancedFilterBtn = isUserLoggedIn ? "" : "hidden";
    bool tagsApplied = Model.SelectedTagIds != null && Model.SelectedTagIds.Any();
    string showClass = (isUserLoggedIn && tagsApplied) ? "" : "hidden";
    string btnText = tagsApplied ? "Hide advanced filters" : "More advanced filters";
    string iconClass = tagsApplied ? "fa-circle-chevron-up" : "fa-circle-chevron-down";
}

<div class="wide-contents-container has-build-btn">
    <partial name="_HeadingPartial" model="headingModel" />
    @Html.AntiForgeryToken()
    <!-- Search and Filter panel -->
    <div class="row text-center filter-container">
        <div class="filter-btn-container @showAdvancedFilterBtn">
            <a href="#" class="small filter-link">
                <span class="btnText">@btnText</span>
                <i class="fa-solid @iconClass"></i>
            </a>
        </div>
        <form id="all-recipes-form" method="get">

            <div class="row align-items-center justify-content-between gx-3">
                
                <!-- Meal Type DropDown -->
                <div class="col-12 col-sm-6 col-lg-3 order-lg-0">
                    @* order-md-first ps-sm-3 ps-md-0 *@
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-utensils"></i></span>
                        <select asp-for="MealTypeId" class="form-select">
                            <option value="">Meal Type</option>
                            @foreach (var type in Model.MealTypes)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Search input -->
                <div class="col-12 col-sm-12 col-lg-6 order-first order-lg-1">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input asp-for="SearchString" class="form-control search" placeholder="Search for recipes or ingredients" />
                        <button type="submit" value="Search" class="search-btn" form="all-recipes-form">&rarr;</button>
                    </div>
                </div>

                <!-- Sorting DropDown -->
                <div class="col col-12 col-sm-6 col-lg-3 order-lg-2">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-arrow-down-wide-short"></i></span>
                        <select asp-for="RecipeSorting" class="form-select">
                            <option value="">Order By</option>
                            @foreach (var sorting in Model.RecipeSortings)
                            {
                                <option value="@sorting.Id">@sorting.Name</option>
                            }
                        </select>
                    </div>
                </div>

            </div>

            <div class="row align-items-center justify-content-between gx-3">

                <!-- Difficulty Level Dropdown -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-layer-group"></i></span>
                        <select asp-for="DifficultyLevel" class="form-select">
                            <option value="">Difficulty Level</option>
                            @foreach (var level in Model.DifficultyLevels)
                            {
                                <option value="@level.Id">@level.Name</option>
                            }
                        </select>
                    </div>
                </div>


                <!-- Max Preparation Time Dropdown -->
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-clock-rotate-left"></i></span>
                        <select asp-for="MaxPreparationTime" class="form-select">
                            <option value="">Preparation Time</option>
                            @foreach (var option in Model.PreparationTimes)
                            {
                                <option value="@option">Under @option minutes</option>
                            }

                        </select>
                    </div>
                </div>

                
                <!-- Pagination DropDown -->
                <div class="col col-12 col-sm-6 col-md-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-table-cells-large"></i></span>
                        <select asp-for="RecipesPerPage" class="form-select">
                            <option value="">Per Pg</option>
                            @foreach (var perPage in PerPageOptions)
                            {
                                <option value="@perPage">@perPage</option>
                            }
                        </select>
                    </div>
                </div>

            </div>

            <div id="tags" class="row align-items-center justify-content-between gx-3 @showClass">
                <div class="col-12 tag-container d-flex align-items-start flex-wrap">
                    @foreach (var group in TagGrouping)
                    {
                        string groupName = group.Key;
                        List<int> tagIds = group.Value;

                        <div class="tag-group">
                            <h3 class="tag-title">@groupName</h3>
                            @foreach (var tagId in tagIds)
                            {
                                var tag = Model.AvailableTags.FirstOrDefault(tag => tag.Id == tagId);

                                @if (tag != null)
                                {
                                    <div class="form-check tag-line">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               name="SelectedTagIds"
                                               value="@tag.Id"
                                        @(Model.SelectedTagIds != null &&
                                            Model.SelectedTagIds.Contains(tag.Id)
                                            ? "checked"
                                            : "") />

                                        <label class="form-check-label" for="@tag.Id">@tag.Name</label>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
    <partial name="_BuildBtnPartial" />

    <!-- Recipes Container -->
    <div class="row">        
        <div class="container">
            @if (!Model.Recipes.Any())
            {
                <h2 class="text-center pt-5">No recipes found by the given criteria</h2>
            }
            else
            {
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3 pb-3"> 
                    @foreach (var recipe in Model.Recipes)
                    {
                        <partial name="_RecipeCardPartial" model="recipe"/>
                    }
                </div>
            }
        </div>
    </div>
    
    @{
        int maxPage = (int)Math.Ceiling((double)Model.TotalResults / Model.RecipesPerPage);
        int previousPage = Model.CurrentPage - 1;
        int nextPage = Model.CurrentPage + 1;

        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage || !Model.Recipes.Any();
        bool shouldPreviousPageBeDisabled = Model.CurrentPage == 1;
    }
    <!-- Pagination buttons -->
    @if(Model.TotalResults > Model.RecipesPerPage)
    {
        <div aria-label="Page navigation" id="pagination-buttons">
            <ul class="pagination d-flex justify-content-end align-items-center">
                <li class="page-item">
                    <a class="pagination-btn @(shouldPreviousPageBeDisabled ? "disabled" : string.Empty)"
                       asp-controller="Recipe"
                       asp-action="All"
                       asp-route-currentPage="@previousPage"
                       asp-route-recipesPerPage="@Model.RecipesPerPage ?? @DefaultRecipesPerPage"
                       asp-route-mealTypeId="@Model.MealTypeId"
                       asp-route-maxPreparationTime="@Model.MaxPreparationTime"
                       asp-route-difficultyLevel="@Model.DifficultyLevel"
                       asp-route-selectedTagIds="@(string.Join(",", Model.SelectedTagIds ?? new List<int>()))"
                       asp-route-searchString="@Model.SearchString"
                       asp-route-recipeSorting="@(Model.RecipeSorting ?? 0)"
                       aria-disabled="@(shouldPreviousPageBeDisabled ? true : false)">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
          
                <li class="page-item">
                    <a class="pagination-btn @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
                       asp-controller="Recipe"
                       asp-action="All"
                       asp-route-currentPage="@nextPage"
                       asp-route-recipesPerPage="@Model.RecipesPerPage ?? @DefaultRecipesPerPage"
                       asp-route-mealTypeId="@Model.MealTypeId"
                       asp-route-maxPreparationTime="@Model.MaxPreparationTime"
                       asp-route-difficultyLevel="@Model.DifficultyLevel"
                       asp-route-selectedTagIds="@(string.Join(",", Model.SelectedTagIds ?? new List<int>()))"
                       asp-route-searchString="@Model.SearchString"
                       asp-route-recipeSorting="@(Model.RecipeSorting ?? 0)"
                       aria-disabled="@(shouldNextPageBeDisabled ? true : false)">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    }
    <!-- Modal -->
    <partial name="_WelcomeModalPartial" model="@Model.ActiveMealPlan"/>   
</div>

@section Scripts {    
    <script type="module">
        import { attachToggleFiltersHandler } from '/js/site.js';
        import { attachToggleFavouritesHandler } from '/js/recipeLikes.js';

        $(document).ready(function () {            
            if ('@showModal' === "True") {  
                
                console.log("Showing modal...");
                $('#welcomeModal').modal('show');
            } 
            
            attachToggleFavouritesHandler();
            attachToggleFiltersHandler();
        });
    </script>

}





