@model RecipeDeleteViewModel
@{
    ViewData["Title"] = "Delete Recipe";
}
<div class="container" style="max-width:700px;">
    <h2 class="text-center pt-5 fw-semibold">@ViewData["Title"]</h2>
    <div class="mx-auto">
        <div class="card mb-3 rounded-5" style="width: 18rem;">
            <img src="@Model.ImageUrl" class="card-img-top" alt="Recipe Image">
            <div class="card-header d-flex justify-content-between">
                <span>Created: @Model.CreatedOn</span>
                <span class="badge bg-primary text-light">@Model.CategoryName</span>
            </div>
            <div class="card-body pt-1">           
                <div class="d-flex justify-content-between pb-3">
                    <div>
                        <i class="fa-solid fa-utensils"></i> <span>@Model.Servings</span>
                    </div>
                    <div>
                        <i class="fa-solid fa-clock"></i> <span>@Model.TotalTime</span>
                    </div>
                </div>
                <div class="d-grid pb-2">
                    <h5 class="card-title">@Model.Title</h5>
                    <a href="/Recipe/DeleteConfirmed/@Model.Id" class="btn btn-danger mt-3">Delete</a>
                    <a href="/Recipe/Details/@Model.Id" class="btn btn-outline-danger mt-3">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>



