@using CookTheWeek.Services.Data.Interfaces
@using CookTheWeek.Web.Infrastructure.Extensions
@using static CookTheWeek.Common.HelperMethods.IngredientHelper;
@model RecipeDetailsViewModel
@inject IFavouriteRecipeService FavouriteRecipeService
@inject IUserService UserService
@{  
    string userId = User.GetId();
    bool isAdmin = User.IsAdmin();
    string recipeId = Model.Id;
    bool isOwner = await this.UserService.IsOwnerByRecipeId(recipeId, userId);
    bool isLiked = await this.FavouriteRecipeService.ExistsByUserIdAsync(recipeId, userId);
}

<div id="recipe-details-container">    
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true"><span>Recipe Info</span></a></li>
                <li class="nav-item"><a class="nav-link" id="instructions-tab" data-bs-toggle="tab" data-bs-target="#instructions" type="button" role="tab" aria-controls="instructions" aria-selected="false">Instructions</a></li>
            </ul>
            <partial name="_BackBtnPartial"/>
        </div>

        <div class="card-body p-4 d-md-grid" id="recipe-details">
            <div id="info-content" class="tab-content g-3">
                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="row">
                        <div class="col">
                            <h1 class="recipe-title">@Model.Title</h1>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col col col-sm-8 img-container">
                            <img class="img-fluid image" alt="Recipe Image" src="@Model.ImageUrl">
                            @if(!isOwner){
                                <a class="add-to-favourites-button" onclick="toggleFavourites(event, '@recipeId', '@userId')">
                                    @if (isLiked)
                                    {
                                        <i class="fas fa-heart liked-icon"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-heart not-liked-icon"></i>
                                    }
                                </a>
                            }
                            else
                            {
                                <i class="fas fa-tag"></i>
                            }
                            @if(userId != String.Empty)
                            {
                                <div class="add-to-mealplan-container">
                                    <a data-recipeId="@Model.Id" class="add-to-mealplan-button plus">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            }                           
                        </div>
                        <div class="col col-12 col-sm-4">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fa-solid fa-utensils"></i>
                                    <span>&nbsp;&nbsp;&nbsp;@Model.Servings Serving(s)</span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-clock"></i>
                                    <span>&nbsp;&nbsp;&nbsp;@(Model.TotalTime.Hours > 0 ? Model.TotalTime.Hours.ToString() + "h " : "")@(Model.TotalTime.Minutes > 0 ? Model.TotalTime.Minutes.ToString() + " min" : "")</span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-font-awesome"></i>
                                    <span>&nbsp;&nbsp;&nbsp;@Model.CategoryName</span>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-archive" aria-hidden="true"></i>
                                    <span>&nbsp;&nbsp;&nbsp;Created&nbsp;on:&nbsp;@Model.CreatedOn</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row g-3 pt-2">
                        <div class="col col-12 col-sm-8">
                            <p class="recipe-description">@Model.Description</p>
                        </div>
                        @if (@Model.OilsHerbsSpicesSweeteners.Any())
                        {
                            <div id="aside-container" class="col col col-sm-4">
                                <p class="ingredient-heading">Herbs, Spices, Oils &amp; Sauces</p>
                                <ul class="list-unstyled">
                                @foreach (var item in Model.OilsHerbsSpicesSweeteners)
                                {
                                        <li>@Html.Raw(FormatIngredientQty(@item.Qty)) <span class="units-styler">@item.Measure</span> @item.Name @item.Specification</li>
                                }                       
                                </ul>
                            </div>
                        }                
                    </div>
                    <div class="row g-3">
                        @if(Model.DiaryMeatSeafood.Any())
                        {
                            <div class="col col-12 col-sm-6 col-lg-4">
                                <p class="ingredient-heading">Meat, Diary Products &amp; Seafood</p>
                                <ul class="list-unstyled">
                                @foreach (var item in Model.DiaryMeatSeafood)
                                {
                                        <li>@Html.Raw(FormatIngredientQty(@item.Qty)) <span class="units-styler">@item.Measure</span> @item.Name @item.Specification</li>
                                }
                                </ul>
                            </div>
                        }  
                        @if (Model.Produce.Any())
                        {
                            <div class="col col-12 col-sm-6 col-lg-4">
                                <p class="ingredient-heading">Produce (Fruit &amp; Vegetables)</p>
                                <ul class="list-unstyled">
                                    @foreach (var item in Model.Produce)
                                    {
                                        <li>@Html.Raw(FormatIngredientQty(@item.Qty)) <span class="units-styler">@item.Measure</span> @item.Name @item.Specification</li>
                                    }
                                </ul>
                            </div>
                        }
                        @if(Model.PastaGrainsBakery.Any())
                        {
                            <div class="col col-12 col-sm-6 col-lg-4">
                                <p class="ingredient-heading">Pasta, Grains &amp; Bakery</p>
                                <ul class="list-unstyled">
                                @foreach (var item in Model.PastaGrainsBakery)
                                {
                                        <li>@Html.Raw(FormatIngredientQty(@item.Qty)) <span class="units-styler">@item.Measure</span> @item.Name @item.Specification</li>
                                }
                                </ul>
                            </div>
                        }
                        @if (Model.Legumes.Any())
                        {
                            <div class="col col-12 col-sm-6 col-lg-4">
                                <p class="ingredient-heading">Beans, Lentils and Legumes</p>
                                <ul class="list-unstyled">
                                @foreach (var item in Model.Legumes)
                                {
                                        <li>@Html.Raw(FormatIngredientQty(@item.Qty)) <span class="units-styler">@item.Measure</span> @item.Name @item.Specification</li>
                                }
                                </ul>
                            </div>
                        }
                       @if (Model.NutsSeedsAndOthers.Any())
                       {
                            <div class="col col-12 col-sm-6 col-lg-4">
                                <p class="ingredient-heading">Nuts, Seeds &amp; Others</p>
                                <ul class="list-unstyled">
                                @foreach (var item in Model.NutsSeedsAndOthers)
                                {
                                        <li>@Html.Raw(FormatIngredientQty(@item.Qty)) <span class="units-styler">@item.Measure</span> @item.Name @item.Specification</li>
                                }                            
                                </ul>
                            </div>
                       }              
                    </div>
                </div>
                <div id="instructions" class="tab-pane fade" role="tabpanel" aria-labelledby="instructions-tab">
                    <div class="row">
                        <div class="col">
                            <p>@Model.Instructions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (isAdmin || isOwner)
        {
         <div class="card-footer">
            <div class="col text-center pt-3 pb-2">
                <div class="buttons d-flex gap-2 align-items-center justify-content-center">
                    <a asp-area="" asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning text-center card-btn" type="button">
                        Edit
                    </a><a asp-area="" asp-controller="Recipe" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger text-center card-btn" type="button">
                        Delete
                    </a>
                </div>
            </div>
        </div>
        }       
    </div>
    <partial name="_BuildBtnPartial" />
</div>
@section Scripts {
    <script>
        // Like btn functionality
        function toggleFavourites(event, recipeId, userId) {
            event.preventDefault();
            var $button = $(event.currentTarget);
            let url = 'https://localhost:7279/api/favouriteRecipe/toggleFavourites';

            var data = {
                RecipeId: recipeId,
                UserId: userId
            }

            $.ajax({
                url: url,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    // Handle success response
                    $button.find('i').toggleClass('liked-icon not-liked-icon');
                    toastr.success("Your preference is saved!");
                },
                error: function (xhr, status, error) {
                    // Handle error
                    if (xhr.status === 400) {
                        // Handle 400 Bad Request error
                        toastr.error('Bad Request: Please check your input and try again.');
                    } else {
                        // Display generic error message
                        toastr.error('Your preference not saved:', error);
                    }
                }
            });
        }
    </script>  
    <script>
        $(document).ready(function () {
            $('#backBtn').click(function () {
                window.history.back();
                return false; // Prevents any server-side postback
            });
        });
    </script>
}