@model RecipeEditFormModel
@using Newtonsoft.Json
@using static CookTheWeek.Common.GeneralApplicationConstants;
@using static CookTheWeek.Common.EntityValidationConstants.ErrorMessages;
@using static CookTheWeek.Common.EntityValidationConstants.ValidationConstants;
@{
    ViewData["Title"] = "Edit Recipe";

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),

    };

    if (User.GetId() != string.Empty && !User.IsAdmin())
    {
        headingModel.HeadingSecondary = $"Edit \"{Model.Title}\"";
    }

    var qtyFractionOptionsString = JsonConvert.SerializeObject(QtyFractionOptions);
    var errorMessagesString = JsonConvert.SerializeObject(RecipeValidationErrorMessages);
    var validationConstantsString = JsonConvert.SerializeObject(RecipeValidationConstants);

}
<div id="edit-recipe" class="card-outer-container">
    <partial name="_HeadingPartial" model="headingModel" />
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="recipe" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Recipe Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="ingredients-tab" data-bs-toggle="tab" data-bs-target="#ingredients" type="button" role="tab" aria-controls="ingredients" aria-selected="false">Ingredients</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="instructions-tab" data-bs-toggle="tab" data-bs-target="#instructions" type="button" role="tab" aria-controls="instructions" aria-selected="false">Instructions</button>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <form id="edit-recipe-form">
                <input 
                    type="hidden" 
                    id="jsonData" 
                    name="jsonData" />
               
                <div id="info-content" class="tab-content g-3">
                    <!-- TAB RECIPE DETAILS -->
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="row">
                            <div class="col col-12 col-md-8 col-xl-9 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Title</span>
                                    <input 
                                        data-bind="value: Title"
                                        class="form-control" 
                                        placeholder="Name it.." 
                                        type="text" />
                                </div>
                                <span 
                                      class="small text-danger"
                                      data-bind="validationMessage: Title">
                                </span>
                            </div>
                            <div class="col col-12 col-md-4 col-xl-3 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Servs</span>
                                    <select data-bind="value: Servings, valueUpdate: 'afterkeydown'"
                                        class="form-select">
                                        <option value="">Choose</option>
                                        @foreach (var option in @Model.ServingsOptions!)
                                        {
                                            <option value="@option">@option</option>
                                        }
                                    </select>
                                </div>
                                <span 
                                    data-bind="validationMessage: Servings"
                                    class="small text-danger">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12 col-md-7 col-xl-8 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Description</span>
                                    <textarea 
                                        data-bind="value: Description"
                                        rows="3" 
                                        class="form-control" 
                                        placeholder="Would be great to know more about this recipe.."></textarea>
                                </div>
                                <span 
                                    class="small text-danger"
                                    data-bind="validationMessage: Description">
                                </span>
                            </div>
                            <div class="col col-12 col-md-5 col-xl-4 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Ready For</span>
                                    <input 
                                        data-bind="value: CookingTimeMinutes, valueUpdate: 'afterkeydown'" 
                                        class="form-control" 
                                        placeholder="minutes"
                                        type="number" />
                                </div>
                                <span 
                                    data-bind="validationMessage: CookingTimeMinutes"
                                    class="small text-danger">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12 col-md-6 col-xl-7 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Image URL</span>
                                    <input 
                                        data-bind="value: ImageUrl" 
                                        class="form-control" 
                                        placeholder="Your image link here..." 
                                        type="url"/>
                                </div>
                                <span 
                                    data-bind="validationMessage: ImageUrl"
                                    class="small text-danger">
                                </span>
                            </div>
                            <div class="col col-12 col-md-6 col-xl-5 p-2">
                                <div class="input-group">
                                    <span class="input-group-text">Meal Type</span>
                                    <select 
                                        data-bind="value: RecipeCategoryId, valueUpdate: 'afterkeydown'" 
                                        class="form-select">
                                        <option value="">Choose</option>
                                        @foreach (var category in @Model.Categories!)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                </div>
                                <span 
                                    data-bind="validationMessage: RecipeCategoryId"
                                    class="small text-danger">
                                </span>
                            </div>

                        </div>
                    </div>
                    <!-- TAB INSTRUCTIONS - ICOLLECTION OF STEPS -->
                    <div class="tab-pane fade" id="instructions" role="tabpanel" aria-labelledby="instructions-tab">
                        <div id="instructions-content" class="tab-content">
                            <div id="instructionsContainer" class="row g-3">
                                <div id="instructionsList" data-bind="foreach: Steps">

                                    <div class="row instructions-row align-items-center">
                                        <div class="col-11 p-2">
                                            <div class="input-group">
                                                <span class="input-group-text">Step</span>
                                                <textarea 
                                                    data-val="true"
                                                    data-bind="value: Description, 
                                                               deferValidation: Description"
                                                    class="form-control" 
                                                    rows="3" 
                                                    placeholder="Tell us how to cook..">
                                                </textarea>
                                            </div>
                                            <span data-bind="validationMessage: Description"
                                                class="small text-danger">
                                            </span> 
                                        </div>
                                        <div class="col-1 p-2">
                                            <div class="add-step-btn-container d-flex justify-content-center align-items-top adjust-btn-position">
                                                <button class="btn btn-icon-only remove-btn-size minus" type="button" data-bind="click: $parent.removeStep">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <hr />
                                <!-- Add Step Btn -->
                                <div class="row justify-content-end pt-3 pb-2">
                                    <!-- Empty column to push the button to the end -->
                                    <div class="col-6"></div>
                                    <div class="col-6 text-end">
                                        <a id="add-step" class="btn btn-secondary" data-bind="click: addStep">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Step
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TAB RECIPE INGREDIENTS -->
                    <div class="tab-pane fade" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
                        <div id="ingredients-content" class="tab-content">
                            <div id="ingredientsContainer" class="row g-3">
                                <div id="ingredientList" data-bind="foreach: RecipeIngredients">
                                    <!-- USING KNOCKOUTJS DATA BINDING -->
                                    <div class="row ingredient-row">
                                        <div class="col col-6 col-lg-4 p-2">
                                            <div class="input-group">
                                                <span class="input-group-text">Ingredient</span>
                                                <input data-bind="value: Name, 
                                                                  validationElement: Name, 
                                                                  deferValidation: Name"
                                                       class="form-control ingredientName" 
                                                       type="text" 
                                                       placeholder="Start typing.."
                                                       autocomplete="off" />
                                                <div class="suggestionsList invisible">
                                                </div>
                                            </div>
                                            <span 
                                                data-bind="validationMessage: Name"
                                                class="small text-danger">
                                            </span>
                                        </div>
                                        <!-- COMPLEX QUANTITY INPUT -->
                                        <div class="col col-6 col-lg-3 p-2 qty-row">

                                            <!--  DECIMAL INPUT -->
                                            <div class="decimal-qty-input" data-bind="style: { display: showFractionsDiv() ? 'none' : 'block' }">
                                                <div class="input-group flex-inside">
                                                    <span class="input-group-text">Qty</span>
                                                    <input type="number"
                                                           data-bind="value: Qty().QtyDecimal,
                                                                  validationElement: Qty().QtyDecimal,
                                                                  valueUpdate: 'afterkeydown'"
                                                           class="form-control qty-decimal"
                                                           placeholder="0.00" />
                                                </div>
                                                <span data-bind="validationMessage: Qty().QtyDecimal"
                                                      class="small text-danger">
                                                </span>                                                
                                            </div>
                                            <!-- FRACTIONAL / WHOLE NUMBER INPUT -->
                                            <div data-bind="style: { display: showFractionsDiv() ? 'block' : 'none' }"
                                                class="fraction-qty-inputs">
                                                <div class="input-group flex-inside">
                                                    <span class="input-group-text">Qty</span>
                                                    <input type="number"
                                                           data-bind="value: Qty().QtyWhole,
                                                                  validationElement: Qty().QtyWhole,
                                                                  valueUpdate: 'afterkeydown'"
                                                           class="form-control qty qty-whole"
                                                           placeholder="0" />
                                                    <select data-val="true"
                                                            data-bind="value: Qty().QtyFraction,
                                                                   validationElement: Qty().QtyFraction,
                                                                   valueUpdate: 'afterkeydown'"
                                                            class="form-select qty qty-fraction">
                                                        <option value="">Frac</option>
                                                        @foreach (var option in QtyFractionOptions)
                                                        {
                                                            <option value="@option.Key">@option.Key</option>
                                                        }
                                                    </select>
                                                </div>
                                                <span data-bind="validationMessage: Qty().QtyFraction" class="small text-danger"></span>
                                                <span data-bind="validationMessage: Qty().QtyWhole" class="small text-danger"></span>                                                
                                            </div>                                            
                                            
                                            <!-- INPUT SWITCHER -->
                                            <div class="form-check form-switch">
                                                <input 
                                                    type="checkbox"
                                                    class="form-check-input show-fraction-checkbox" 
                                                    data-bind="click: switchQtyUnit, checked: isChecked"
                                                   />
                                                <label class="form-check-label">Use Fractions</label>
                                            </div>                                               
                                        </div>

                                        <div class="col col-5 col-lg-2 p-2">
                                            <div class="input-group">
                                                <span class="input-group-text">Unit</span>
                                                <select data-bind="value: MeasureId, 
                                                                   validationElement: MeasureId, 
                                                                   deferValidation: MeasureId, 
                                                                   valueUpdate: 'afterkeydown'"
                                                    class="form-select">
                                                    <option value="">Unit</option>
                                                    @foreach (var measure in @Model.RecipeIngredients!.First().Measures!)
                                                    {
                                                        <option value="@measure.Id">@measure.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <span 
                                                data-bind="validationMessage: MeasureId"
                                                class="small text-danger">
                                            </span>
                                        </div>
                                        <div class="col col-6 col-lg-2 p-2">
                                            <div class="input-group">
                                                <span class="input-group-text">Note</span>
                                                <select 
                                                    data-bind="value: SpecificationId, valueUpdate: 'afterkeydown'"
                                                    class="form-select">
                                                    <option value="">Type</option>
                                                    @foreach (var specification in Model.RecipeIngredients!.First().Specifications!)
                                                    {
                                                        <option value="@specification.Id">@specification.Description</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col col-1 p-2 d-flex justify-content-center align-items-top adjust-btn-position">
                                            <a data-bind="click: $parent.removeIngredient" 
                                               class="btn remove-btn-size btn-icon-only minus">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <!-- Add Ingredient Btn -->
                                <div class="row justify-content-end pt-3 pb-2">
                                    <div class="col-6">
                                        <!-- Empty column to push the button to the end -->
                                    </div>
                                    <div class="col-6 text-end">
                                        <a data-bind="click: addIngredient" 
                                           id="add-ingredient" 
                                           class="btn btn-secondary" 
                                           type="button">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Ingredient
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col buttons justify-content-center">
                    <!-- SUBMIT FORM BTN -->
                    <button 
                        data-bind="click: submitForm" 
                        class="btn btn-secondary card-btn-width" 
                        form="edit-recipe-form" 
                        type="submit">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_KnockoutPartial.cshtml" />
    <script src="~/js/suggestions.js"> </script>
    <script type="module">
    import { EditRecipeViewModel } from '/js/ko-editRecipe-viewModel.js';

    $(document).ready(function () {
       
        var qtyFractionOptions = @Html.Raw(qtyFractionOptionsString);
        const errorMessages = @Html.Raw(errorMessagesString);
        const validationConstants = @Html.Raw(validationConstantsString);
        
        // Create Regex URL pattern, corresponding to server-side regex
        const ValidationConstants = {
            UrlPattern: /^(http(s)?:\/\/)?([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}(:[0-9]{1,5})?(\/.*)?$/
        };
        // Register URL validation rule
        ko.validation.rules['url'] = {
            validator: function (val, validate) {
                if (!val || !validate) return true;
                return ValidationConstants.UrlPattern.test(val);
            },
            message: errorMessages.ImageInvalidErrorMessage
        };

        ko.validation.registerExtenders();

        // Initialize the ViewModel with the initial data
        const initialData = @Html.Raw(JsonConvert.SerializeObject(Model));
        var viewModel = new EditRecipeViewModel(initialData, errorMessages, qtyFractionOptions, validationConstants);
        

        // Configure Knockout Validation plugin
        ko.validation.init({
            insertMessages: false,
            decorateElement: true,
            errorElementClass: 'error',
            parseInputAttributes: true,
            messagesOnModified: true,
            errorMessageClass: "small text-danger",
        }, true);
            
        ko.applyBindings(viewModel);   
    });
    </script>
}
