@model RecipeMineViewModel
@{
    string ownedRecipeHeading = "";
    bool isAdmin = User.IsAdmin();

    if(isAdmin)
    {
        ownedRecipeHeading = "Site Recipes";
    }
}

<div class="container d-flex flex-column gap-2" id="recipe-container">
    @{
        if(!isAdmin)
        {
            <h1 class="collection-heading">Your Favourite Recipes</h1>
            <div id="favourite-recipes">
                <div class="row d-flex g-3 align-items-start p-1 flex-row flex-nowrap">
                    @{
                        foreach (var recipe in Model.FavouriteRecipes)
                        {
                            <div class="col recipe-container d-block">
                                <div class="card">
                                    <img class="card-img-top w-100 d-block fit-cover" alt="Recipe Image" src="@recipe.ImageUrl">
                                    <div class="card-body p-2">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center justify-content-between gap-4">
                                                <div class="d-flex align-items-center justify-content-center g-1"><i class="material-icons card-icon">restaurant_menu</i><span class="icon-text">@recipe.Servings</span></div>
                                                <div class="d-flex align-items-center justify-content-center g-1"><i class="material-icons card-icon">timer</i><span class="icon-text">@recipe.CookingTime</span></div>
                                            </div><span class="badge bg-primary d-block">Main Dish</span>
                                        </div>
                                        <h1 class="recipe-title">@recipe.Title</h1>
                                        <hr>
                                        <div class="recipe-description">
                                            <p class="card-text.fade">@recipe.</p>
                                        </div>
                                    </div><i class="fa fa-heart like-icon"></i><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bookmark-plus-fill add-icon">
                                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5z"></path>
                                    </svg>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
    
    <h1 class="collection-heading">Added By You</h1>
    <div id="owned-recipes">
        <div class="row d-flex g-3 align-items-start p-1 no-wrap flex-row flex-nowrap">
            <div class="col recipe-container d-block">
                <div class="card">
                    <img class="card-img-top w-100 d-block fit-cover" alt="Cooked Rice and Curry Food Served on White Plate" src="assets/img/pexels-photo-674574.jpeg">
                    <div class="card-body p-2">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center justify-content-between gap-4">
                                <div class="d-flex align-items-center justify-content-center g-1"><i class="material-icons card-icon">restaurant_menu</i><span class="icon-text">6</span></div>
                                <div class="d-flex align-items-center justify-content-center g-1"><i class="material-icons card-icon">timer</i><span class="icon-text">1h 0min</span></div>
                            </div><span class="badge bg-primary d-block">Main Dish</span>
                        </div>
                        <h1 class="recipe-title">Chicken Soup</h1>
                        <hr>
                        <div class="recipe-description">
                            <p class="card-text.fade">Classical easy and delicious chicken soup to keep you warm in the cold winter days</p>
                        </div>
                    </div><i class="fa fa-heart like-icon"></i><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bookmark-plus-fill add-icon">
                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>