@model IEnumerable<MealPlanAllAdminViewModel>
@{
    ViewBag.Title = "All Active Meal Plans";
}
<div class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><label>Id</label></th>
                    <th><label>Name</label></th>
                    <th><label>Owner</label></th>
                    <th><label>Start Date</label></th>
                    <th><label>End Date</label></th>
                    <th><label>Total Meals</label></th>
                    <th><label>View Details</label></th>
                    <th><label>View Shopping List</label></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mealPlan in Model)
                {
                    <tr>
                        <td class="align-baseline">@mealPlan.Id</td>
                        <td class="align-baseline">@mealPlan.Name</td>
                        <td class="align-baseline">@mealPlan.OwnerUsername</td>
                        <td class="align-baseline">@mealPlan.StartDate</td>
                        <td class="align-baseline">@mealPlan.EndDate</td>
                        <td class="align-baseline">@mealPlan.MealsCount</td>
                        <td class="align-baseline">
                            <label>
                                <a asp-area="" asp-controller="MealPlan" asp-action="Details" asp-route-id="@mealPlan.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                            </label>
                        </td>
                        <td class="align-baseline">
                            <label>
                                <a asp-area="" asp-controller="ShoppingList" asp-action="Generate" asp-route-id="@mealPlan.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-danger">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                            </label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="text-center pt-5">No Active Meal Plans yet!</h2>
    }

</div>
