@model IEnumerable<MealPlanAllAdminViewModel>
@{
    ViewBag.Title = "All Active Meal Plans";
}
<div class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Id</th>
                    <th class="text-start">Name</th>
                    <th class="text-start">Owner</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">End Date</th>
                    <th class="text-center">Total Meals</th>
                    <th class="text-center">View Details</th>
                    <th class="text-center">View Shopping List</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mealPlan in Model)
                {
                    <tr>
                        <td class="text-start align-middle">@mealPlan.Id</td>
                        <td class="text-start align-middle">@mealPlan.Name</td>
                        <td class="text-start align-middle">@mealPlan.OwnerUsername</td>
                        <td class="text-center align-middle">@mealPlan.StartDate</td>
                        <td class="text-center align-middle">@mealPlan.EndDate</td>
                        <td class="text-center align-middle">@mealPlan.MealsCount</td>
                        <td class="text-center align-middle">
                            <a asp-area="" asp-controller="MealPlan" asp-action="Details" asp-route-id="@mealPlan.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="text-center align-middle">
                            <a asp-area="" asp-controller="ShoppingList" asp-action="GetShoppingList" asp-route-id="@mealPlan.Id" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">
                                <i class="fas fa-shopping-basket"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="text-center pt-5">No Active Meal Plans yet!</h2>
    }

</div>
