@model AllRecipesFilteredAndPagedViewModel
@using static CookTheWeek.Common.GeneralApplicationConstants
@{
    var generalHeading = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"].ToString(),
        HeadingSecondary = "Browse & filter user and site recipes" 
    };
}

<div class="wide-contents-container">
    <partial name="_HeadingPartial" model="generalHeading"/>

    <!-- Search and Filter panel -->
    <div class="row text-center filter-container">
        <form id="admin-all-recipes" method="get" class="pb-1">
            
            <div class="row align-items-center justify-content-between g-0 gy-3 pb-3">

                <!-- Recipe Source Dropdown -->
                <div class="col-12 col-sm-6 col-md-3 order-md-first ps-sm-3 ps-md-0">
                    <div class="input-group">
                        <span class="input-group-text">Source</span>
                        <select asp-for="RecipeSource" class="form-select">
                            <option value="">All</option>
                            @foreach (var source in Model.RecipeSources)
                            {
                                <option value="@source.Id">@source.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Search input -->
                <div class="col-12 col-sm-12 col-md-5 order-first order-md-2">
                    <div class="input-group">
                        <span class="input-group-text">Filter</span>
                        <input asp-for="SearchString" class="form-control search" placeholder="Search for recipes or ingredients" />
                        <button type="submit" value="Search" class="search-btn" form="admin-all-recipes">&rarr;</button>
                    </div>
                </div>

                <!-- Meal Type DropDown -->
                <div class="col-12 col-sm-6 col-md-4">
                    @* order-md-first ps-sm-3 ps-md-0 *@
                    <div class="input-group">
                        <span class="input-group-text">Type</span>
                        <select asp-for="MealTypeId" class="form-select">
                            <option value="">All</option>
                            @foreach (var type in Model.MealTypes)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </select>
                    </div>
                </div>  
                
            </div>
            <div class="row align-items-center justify-content-between g-0 gy-3">

                <!-- Sorting DropDown -->
                <div class="col col-12 col-sm-6 col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">Sort</span>
                        <select asp-for="RecipeSorting" class="form-select">
                            @foreach (var sorting in Model.RecipeSortings)
                            {
                                <option value="@sorting.Id">@sorting.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Difficulty Level Dropdown -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="input-group">
                        <span class="input-group-text">Difficulty</span>
                        <select asp-for="DifficultyLevel" class="form-select">
                            <option value="">All</option>
                            @foreach (var level in Model.DifficultyLevels)
                            {
                                <option value="@level.Id">@level.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Max Preparation Time Dropdown -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">Prep Time</span>
                        <select asp-for="MaxPreparationTime" class="form-select">
                            <option value="">All</option>
                            @foreach (var option in Model.PreparationTimes)
                            {
                                <option value="option">Under @option minutes</option>
                            }
                            
                        </select>
                    </div>
                </div>

                
                

                <!-- Pagination DropDown -->
                <div class="col col-12 col-sm-6 col-md-2 ">
                    <div class="input-group">
                        <span class="input-group-text">Per Pg</span>
                        <select asp-for="RecipesPerPage" class="form-select">
                            @foreach (var perPage in PerPageOptions)
                            {
                                <option value="@perPage">@perPage</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between g-0 gy-3 pt-3">
                <div class="text-start">
                    <div class="col-12">
                        <label class="form-label fw-bold">Tags:</label>
                        <div class="d-flex flex-wrap gap-2">
                            @foreach (var tag in Model.AvailableTags)
                            {
                                <div class="form-check">
                                    <input asp-for="@tag.Id" class="form-check-input" type="checkbox" value="@tag.Id" id="tag-@tag.Id" />
                                    <label class="form-check-label" for="tag-@tag.Id">@tag.Name</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="container">
            @if (Model.Recipes.Any())
            {

                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 pb-4">
                    @foreach (var recipe in Model.Recipes)
                    {
                        <partial name="_RecipeCardPartial" model="recipe" />
                    }
                </div>

            }
            else
            {
                <h2 class="text-center pt-5">No recipes found by the given criteria</h2>
            }
        </div>
    </div>

    @{
        int maxPage = (int)Math.Ceiling((double)Model.TotalResults / Model.RecipesPerPage);
        int previousPage = Model.CurrentPage - 1;
        int nextPage = Model.CurrentPage + 1;

        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage || (!Model.Recipes.Any());
        bool shouldPreviousPageBeDisabled = Model.CurrentPage == 1;
    }
    <!-- Pagination buttons -->
    @if (Model.TotalResults > Model.RecipesPerPage)
    {
        <div aria-label="Page navigation" id="pagination-buttons">
            <ul class="pagination d-flex justify-content-end align-items-center">
                <li class="page-item">
                    <a class="pagination-btn @(shouldPreviousPageBeDisabled ? "disabled" : string.Empty)"
                       asp-area="Admin"
                       asp-controller="RecipeAdmin"
                       asp-action="All"
                       asp-route-currentPage="@previousPage"
                       asp-route-recipesPerPage="@Model.RecipesPerPage"
                       asp-route-mealTypeId="@Model.MealTypeId"
                       asp-route-maxPreparationTime="@Model.MaxPreparationTime"
                       asp-route-difficultyLevel="@Model.DifficultyLevel"
                       asp-route-selectedTagIds="@(string.Join(",", Model.SelectedTagIds ?? new List<int>()))"
                       asp-route-searchString="@Model.SearchString"
                       asp-route-recipeSorting="@(Model.RecipeSorting ?? 0)"
                       aria-disabled="@(shouldPreviousPageBeDisabled ? true : false)">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>

                <li class="page-item">
                    <a class="pagination-btn @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
                       asp-area="Admin"
                       asp-controller="RecipeAdmin"
                       asp-action="All"
                       asp-route-currentPage="@nextPage"
                       asp-route-recipesPerPage="@Model.RecipesPerPage"
                       asp-route-mealTypeId="@Model.MealTypeId"
                       asp-route-maxPreparationTime="@Model.MaxPreparationTime"
                       asp-route-difficultyLevel="@Model.DifficultyLevel"
                       asp-route-selectedTagIds="@(string.Join(",", Model.SelectedTagIds ?? new List<int>()))"
                       asp-route-searchString="@Model.SearchString"
                       asp-route-recipeSorting="@(Model.RecipeSorting ?? 0)"
                       aria-disabled="@(shouldNextPageBeDisabled ? true : false)">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    }
</div>





