@model AllRecipesFilteredAndPagedViewModel
@using static CookTheWeek.Common.GeneralApplicationConstants
@{
    var generalHeading = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"].ToString(),
        HeadingSecondary = "Browse & filter user and site recipes" 
    };

    bool tagsApplied = Model.SelectedTagIds != null && Model.SelectedTagIds.Any();
    string showClass = tagsApplied ? "" : "hidden";
    string btnText = tagsApplied ? "Hide advanced filters" : "More advanced filters";
    string iconClass = tagsApplied ? "fa-circle-chevron-up" : "fa-circle-chevron-down";
}

<div id="admin" class="wide-contents-container">
    <partial name="_HeadingPartial" model="generalHeading"/>
    <!-- Search and Filter panel -->
    <div class="row text-center filter-container">
        <div class="filter-btn-container">            
            <a href="#" class="small filter-link">
                <span class="btnText">@btnText</span>
                <i class="fa-solid @iconClass"></i>
            </a>
        </div>
        <form id="admin-all-recipes" method="get">

            <div class="row align-items-center justify-content-between gx-3">

                <!-- Recipe Source Dropdown -->
                <div class="col-12 col-sm-6 col-md-3 order-md-first">
                    <div class="input-group">
                        <span class="input-group-text">Source</span>
                        <select asp-for="RecipeSource" class="form-select">
                            <option value="">All</option>
                            @foreach (var source in Model.RecipeSources)
                            {
                                <option value="@source.Id">@source.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Search input -->
                <div class="col-12 col-sm-12 col-md-5 order-first order-md-2">
                    <div class="input-group">
                        <span class="input-group-text">Filter</span>
                        <input asp-for="SearchString" class="form-control search" placeholder="Search for recipes or ingredients" />
                        <button type="submit" value="Search" class="search-btn" form="admin-all-recipes">&rarr;</button>
                    </div>
                </div>

                <!-- Meal Type DropDown -->
                <div class="col-12 col-sm-6 col-md-4">
                    @* order-md-first ps-sm-3 ps-md-0 *@
                    <div class="input-group">
                        <span class="input-group-text">Type</span>
                        <select asp-for="MealTypeId" class="form-select">
                            <option value="">All</option>
                            @foreach (var type in Model.MealTypes)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </select>
                    </div>
                </div>  

            </div>

            <div class="row align-items-center justify-content-between gx-3">

                <!-- Sorting DropDown -->
                <div class="col col-12 col-sm-6 col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">Sort</span>
                        <select asp-for="RecipeSorting" class="form-select">
                            @foreach (var sorting in Model.RecipeSortings)
                            {
                                <option value="@sorting.Id">@sorting.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Difficulty Level Dropdown -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="input-group">
                        <span class="input-group-text">Difficulty</span>
                        <select asp-for="DifficultyLevel" class="form-select">
                            <option value="">All</option>
                            @foreach (var level in Model.DifficultyLevels)
                            {
                                <option value="@level.Id">@level.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Max Preparation Time Dropdown -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">Prep Time</span>
                        <select asp-for="MaxPreparationTime" class="form-select">
                            <option value="">All</option>
                            @foreach (var option in Model.PreparationTimes)
                            {
                                <option value="@option">Under @option minutes</option>
                            }

                        </select>
                    </div>
                </div>

                <!-- Pagination DropDown -->
                <div class="col col-12 col-sm-6 col-md-2 ">
                    <div class="input-group">
                        <span class="input-group-text">Per Pg</span>
                        <select asp-for="RecipesPerPage" class="form-select">
                            @foreach (var perPage in PerPageOptions)
                            {
                                <option value="@perPage">@perPage</option>
                            }
                        </select>
                    </div>
                </div>

            </div>

            <div id="tags" class="row align-items-center justify-content-between gx-3 @showClass">
                <div class="col-12 tag-container d-flex align-items-start flex-wrap">     
                    @foreach(var group in TagGrouping)
                    {
                        string groupName = group.Key;
                        List<int> tagIds = group.Value;

                        <div class="tag-group">
                            <h3 class="tag-title">@groupName</h3>
                            @foreach (var tagId in tagIds)
                            {
                                var tag = Model.AvailableTags.FirstOrDefault(tag => tag.Id == tagId);

                                @if (tag != null)
                                {
                                    <div class="form-check tag-line">
                                        <input class="form-check-input"
                                                type="checkbox"
                                                name="SelectedTagIds"
                                                value="@tag.Id"
                                        @(Model.SelectedTagIds != null &&
                                            Model.SelectedTagIds.Contains(tag.Id)
                                            ? "checked"
                                            : "") />

                                        <label class="form-check-label" for="@tag.Id">@tag.Name</label>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="container">
            @if (Model.Recipes.Any())
            {

                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 pb-4">
                    @foreach (var recipe in Model.Recipes)
                    {
                        <partial name="_RecipeCardPartial" model="recipe" />
                    }
                </div>

            }
            else
            {
                <h2 class="text-center pt-5">No recipes found by the given criteria</h2>
            }
        </div>
    </div>

    @{
        int maxPage = (int)Math.Ceiling((double)Model.TotalResults / Model.RecipesPerPage);
        int previousPage = Model.CurrentPage - 1;
        int nextPage = Model.CurrentPage + 1;

        bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage || (!Model.Recipes.Any());
        bool shouldPreviousPageBeDisabled = Model.CurrentPage == 1;
    }
    <!-- Pagination buttons -->
    @if (Model.TotalResults > Model.RecipesPerPage)
    {
        <div aria-label="Page navigation" id="pagination-buttons">
            <ul class="pagination d-flex justify-content-end align-items-center">
                <li class="page-item">
                    <a class="pagination-btn @(shouldPreviousPageBeDisabled ? "disabled" : string.Empty)"
                       asp-area="Admin"
                       asp-controller="RecipeAdmin"
                       asp-action="All"
                       asp-route-currentPage="@previousPage"
                       asp-route-recipesPerPage="@Model.RecipesPerPage"
                       asp-route-mealTypeId="@Model.MealTypeId"
                       asp-route-maxPreparationTime="@Model.MaxPreparationTime"
                       asp-route-difficultyLevel="@Model.DifficultyLevel"
                       asp-route-selectedTagIds="@(string.Join(",", Model.SelectedTagIds ?? new List<int>()))"
                       asp-route-searchString="@Model.SearchString"
                       asp-route-recipeSource="@Model.RecipeSource"
                       asp-route-recipeSorting="@(Model.RecipeSorting ?? 0)"
                       aria-disabled="@(shouldPreviousPageBeDisabled ? true : false)">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>

                <li class="page-item">
                    <a class="pagination-btn @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
                       asp-area="Admin"
                       asp-controller="RecipeAdmin"
                       asp-action="All"
                       asp-route-currentPage="@nextPage"
                       asp-route-recipesPerPage="@Model.RecipesPerPage"
                       asp-route-mealTypeId="@Model.MealTypeId"
                       asp-route-recipeSource="@Model.RecipeSource"
                       asp-route-maxPreparationTime="@Model.MaxPreparationTime"
                       asp-route-difficultyLevel="@Model.DifficultyLevel"
                       asp-route-selectedTagIds="@(string.Join(",", Model.SelectedTagIds ?? new List<int>()))"
                       asp-route-searchString="@Model.SearchString"
                       asp-route-recipeSorting="@(Model.RecipeSorting ?? 0)"
                       aria-disabled="@(shouldNextPageBeDisabled ? true : false)">
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    }
</div>

@section Scripts {
    <script type="module">
        import { attachToggleFiltersHandler } from '/js/site.js';

        $(document).ready(function() {
            attachToggleFiltersHandler();
        });
    </script>
}





