@model UserProfileViewModel
@using static CookTheWeek.Common.NotificationMessagesConstants
@{
    ViewData["Title"] = "Profile";

    PageHeadingViewModel headingModel = new PageHeadingViewModel
    {
        Subheading = "User Profile",
        HeadingSecondary = "Manage Your Account"
    };
}
<div id="user-profile">
    <div class="card-outer-container">
        <partial name="_HeadingSmallPartial" model="headingModel" />
        <div class="card-container h-100 d-flex align-items-stretch justify-content-center">

            <img src="~/img/user-profile-food.webp"
                 alt="Prepared Meal Image"
                 class="card-img img-fluid" />
            <div class="profile-container d-flex flex-column align-items-center justify-content-start">
                <div class="container info-container mb-4">
                    <div class="row">
                        <div class=" stat col-md-6 my-2">
                            <h5>
                                <i class="fas fa-user"></i> Username
                            </h5>
                            <p class="info-style">@Model.UserName</p>
                        </div>
                        <div class="col-md-6 my-2">
                            <h5>
                                <i class="fas fa-envelope"></i> Email
                            </h5>
                            <p class="info-style">@Model.Email</p>
                        </div>
                        <div class="col-12 col-md-6 my-2">
                            @if (Model.HasPassword)
                            {
                                <a asp-area="" asp-controller="User" asp-action="ChangePassword" class="change-password" type="button">Change Password</a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="User" asp-action="SetPassword" class="set-password-btn" type="button">Set Password</a>
                            }

                        </div>
                        <div class="col-12 col-md-6 my-2">
                            <button data-bs-toggle="modal"
                                    data-bs-target="#confirmDeleteModal"
                                    data-controller="User"
                                    data-action="DeleteAccount"
                                    class="delete-account-btn"
                                    type="button">
                                Delete Account
                            </button>

                        </div>
                    </div>
                    <div class="row">
                        @if (!Model.HasPassword)
                        {
                            <p class="small text-danger">You don't have a password set up for your account. You can create one here.</p>
                        }
                       
                    </div>
                </div>
                <div class="container actions-container mb-2">
                    <h5>
                        Explore your collections
                    </h5>
                    <div class="row">
                        <div class="col-12 col-md-6 my-2">
                            <h5>
                                <i class="fa-solid fa-folder"></i> @Model.RecipesCount Recipe(s)
                            </h5>
                        </div>
                        <div class="col-12 col-md-6 my-2">
                            <h5>
                                <i class="fa-solid fa-inbox"></i> @Model.MealplansCount Mealplan(s)
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-4">
                            <a href="@Url.Action("Mine", "Recipe")" class="user-recipes-btn">To Recipes</a>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                            <a href="@Url.Action("Mine", "MealPlan")" class="user-mealplans-btn">
                                <span class="btn-text">To Mealplans</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    
    @* Modal for Delete *@
    @{
        var deleteAccountModal = new ModalViewModel
        {
            Title = DeleteAccountModalHeading,
            Content = DeleteAccountModalMessage,
            IconClass = DeleteModalIconClass
        };

        <partial name="_ConfirmDeleteModalPartial" model="deleteAccountModal" />
    }
</div>


@section Scripts {
    <script src="~/js/recipeLikes.js"></script>

}