@model UserProfileViewModel
@{
    ViewData["Title"] = "Profile";

    PageHeadingViewModel headingModel = new PageHeadingViewModel
    {
        Subheading = "User Profile",
        HeadingSecondary = "Manage Your Account"
    };
}
<div class="card-outer-container" id="user-profile">
    <partial name="_HeadingPartial" model="headingModel" />
    <div class="card-container d-flex gap-0 p-0 align-items-center h-100">
        
        <img src="~/img/micheile-henderson-3YHXTs1CxFI-unsplash-resize-smaller.jpg"
                alt="Prepared Meal Image"
                class="card-img img-fluid" />
        <div class="container profile-container d-flex flex-column align-items-center justify-content-between">
            <div class="container info-container pb-2">                
                <h4 class="form-heading text-uppercase">
                    Manage User data
                </h4>
                @if(!Model.HasPassword)
                {
                    <p class="small text-danger">You don't have a password set up for your account. Click the button below to create one.</p>
                }
                else
                {
                    <p class="small">You have a password set up for your account.</p>
                }
                <div class="row">
                    <div class="col-md-6 my-2">                        
                        <h5 class="text-transform">
                            <i class="fas fa-user text-primary"></i> Username:
                        </h5>
                        <p>@Model.UserName</p>                        
                    </div>
                    <div class="col-md-6 my-2">
                        <h5 class="text-transform">
                            <i class="fas fa-envelope text-primary"></i> Email:
                        </h5>
                        <p>@Model.Email</p>                       
                    </div>
                    <div class="col-6 my-2">
                        @if(Model.HasPassword)
                        {
                            <a href="@Url.Action("ChangePassword", "User")" class="btn btn-primary w-100 text-center">Change Password</a>
                        }
                        else
                        {
                            <a href="@Url.Action("SetPassword", "User")" class="btn btn-primary w-100 text-center">Set Password</a>
                        }

                    </div>
                    <div class="col-6 my-2">
                        <button data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" class="btn btn-outline-danger text-center w-100 text-center" type="button">
                            Delete Account
                        </button>
                       @*  <a href="@Url.Action("DeleteAccount", "User")" class="btn btn-outline-danger w-100 text-center">Delete Account</a> *@
                    </div>
                </div>

            </div>
            <div class="container actions-container py-2">                
                <h5>
                    Explore User collections
                </h5>
                <div class="row py-2">                    
                    <div class="col-6 mb-4 d-block">
                        <a href="@Url.Action("Mine", "Recipe")" class="btn btn-primary w-100 text-center">Your Recipes</a>
                    </div>
                    <div class="col-6 mb-4">
                        <a href="@Url.Action("Mine", "MealPlan")" class="btn btn-light w-100 text-center">Your Meal Plans</a>
                    </div>
                </div>                

            </div>
        </div>
         
    </div>
    <!-- Modal HTML -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center">
                <div class="modal-body d-flex flex-column aling-items-center justify-content-center gap-2">
                    <span><i class="fa-solid fa-triangle-exclamation"></i></span>
                    <h2>Are you sure you want to delete your account?</h2>
                    <p>This action is permanent and cannot be undone. Deleting your account will remove all your data and any associated content. </p>
                    <div class="buttons d-flex flex-column gap-2">
                        <form asp-area="" asp-controller="User" asp-action="DeleteAccount" method="post" class="w-100">
                            <button type="submit" class="btn btn-outline-danger w-100 text-center">Delete</button>
                        </form>
                        <button type="button" class="btn btn-light w-100 text-center" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
