@model MealPlanAddFormModel
@{
    ViewData["Title"] = "Add Meal Plan";
    int initialCount = Model.Meals.Count;

}
<div id="add-mealplan" class="container">
    <h2 class="text-center pt-3 fw-semibold">Add Meal Plan</h2>
    <div class="px-4 px-lg-0">

        <div class="pb-3">
            <div class="container">
                <form id="add-mealplan-form" method="post" asp-area="" asp-controller="MealPlan" asp-action="Add">
                    <div class="row">
                        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                            <!-- Shopping cart table -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="p-2 px-3 text-uppercase">Recipe</div>
                                            </th>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Servings</div>
                                            </th>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Date To Cook</div>
                                            </th>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Remove</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- For each -->
                                        @if (Model.Meals.Any())
                                        {
                                            @for (int i = 0; i < Model.Meals.Count; i++)
                                            {
                                                    <tr class="meal-row">
                                                    <th scope="row" class="border-0">
                                                        <div class="p-2">
                                                            <input type="hidden" asp-for="@Model.Meals[i].ImageUrl" />
                                                            <img src="@Model.Meals[i].ImageUrl" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                            <div class="ml-3 d-inline-block align-middle">
                                                                <input type="hidden" asp-for="Meals[i].Title" />
                                                                <h5 class="mb-0"> <a href="/Recipe/Details/@Model.Meals[i].RecipeId" class="text-dark d-inline-block align-middle">@Model.Meals[i].Title</a></h5>
                                                                <input type="hidden" asp-for="Meals[i].CategoryName" />
                                                                <span class="text-muted font-weight-normal font-italic d-block">Category: @Model.Meals[i].CategoryName</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td class="border-0 align-middle">
                                                        <strong>
                                                            <div class="input-group">
                                                                <span class="input-group-text">For</span>
                                                                <select class="form-control" asp-for="Meals[i].Servings">
                                                                    <option value="">Servs</option>
                                                                    @foreach (var option in @Model.Meals!.First().SelectServingOptions!)
                                                                    {
                                                                        <option value="@option">@option</option>
                                                                    }
                                                                </select>
                                                                <span asp-validation-for="Meals[i].Servings" class="small text-danger"></span>
                                                            </div>
                                                        </strong>
                                                    </td>
                                                    <td class="border-0 align-middle">
                                                        <strong>
                                                            <div class="input-group">
                                                                <span class="input-group-text">Date</span>
                                                                <select class="form-control" asp-for="Meals[i].Date">
                                                                    <option value="">Date</option>
                                                                    @foreach (var option in @Model.Meals.First().SelectDates)
                                                                    {
                                                                        <option value="@option">@option</option>
                                                                    }
                                                                </select>
                                                                <span asp-validation-for="Meals[i].Date" class="small text-danger"></span>
                                                            </div>
                                                        </strong>
                                                    </td>
                                                    <td class="border-0 align-middle">
                                                        <div class="remove-btn-container">
                                                            <input type="hidden" asp-for="Meals[i].RecipeId" />
                                                            <a data-recipeId="@Model.Meals[i].RecipeId" class="minus">
                                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    
                                    </tbody>
                                </table>
                            </div>
                            <!-- End -->
                        </div>
                    </div>

                    <div class="row pt-5 p-4 bg-white rounded shadow-sm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Name Your Meal Plan</div>
                                <div class="p-4">
                                    <p class="font-italic mb-4">In order to be able to differ between your meal plans, give it a meaningful and describeful name</p>
                                    <div class="input-group">
                                        <span class="input-group-text">Name</span>
                                        <input asp-for="Name" class="form-control" placeholder="Name it.." type="text">
                                        <span asp-validation-for="Name" class="small text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Meal Plan summary </div>
                                <div class="p-4">
                                    <p class="font-italic mb-4">
                                        Shopping List of needed Products will be affected by the Serving Sizes you enter in the Servings menu for every Recipe.
                                        <br>
                                        <br>
                                        Make sure to check them properly!
                                    </p>
                                    <ul class="list-unstyled mb-4">
                                        <li class="d-flex justify-content-between py-3 border-bottom">
                                            <strong class="text-muted">Total Recipes </strong><strong>@Model.Meals.Count</strong>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-between align-middle p-4 pt-0">
                                <button form="add-mealplan-form" class="btn btn-primary py-2 btn-block text-white btn-lg" type="submit">Save Meal Plan</button>
                                <a asp-area="" asp-controller="Recipe" asp-action="All" class="btn btn-outline-primary py-2 btn-block">Browse Recipes</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var mealsIndex = @initialCount;
            $(document).on('click', '.minus', function (event) {
                debugger;
                var mealsCount = $('.meal-row').length;
                if (mealsCount === 1) {
                    event.preventDefault();
                    toastr.error('To build a Meal Plan, at least one Meal is required.');
                    return false;
                }
                $(this).closest('.meal-row').remove();
                mealsIndex--;
                reindexRows();
            });

            function reindexRows() {
                $('.meal-row').each(function (rowIndex) {
                    $(this).find('input[id^="Meals_"], select[id^="Meals_"]').each(function (index, element) {
                        var idParts = element.id.split('__');
                        var newId = 'Meals_' + rowIndex + '__' + idParts[1];
                        $(element).attr('id', newId);

                        var nameParts = element.name.split('.');
                        var newName = 'Meals[' + rowIndex + '].' + nameParts[1];
                        $(element).attr('name', newName);
                    });
                });

                $('span[data-valmsg-for^="Meals["]').each(function (index, element) {
                    var $element = $(element);
                    $element.attr('data-valmsg-for', $element.attr('data-valmsg-for').replace(/\[\d+\]/g, '[' + index + ']'));
                });
                        
                $('form').validate().form();
            }

        });
    </script>       
}
