@model MealPlanDetailsViewModel
@using CookTheWeek.Common.HelperMethods
@using static CookTheWeek.Common.TempDataConstants
@using static CookTheWeek.Common.GeneralApplicationConstants
@inject IUserContext UserContext
@{
    Guid userId = UserContext.UserId;
    bool isAdmin = UserContext.IsAdmin;
    bool isOwner = Model.OwnerId == userId;

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),
        HeadingSecondary = Model.Name
    };

    if (ViewBag.ReturnUrl == null)
    {
        if(isAdmin)
        {
            ViewBag.ReturnUrl = "/Admin/MealPlanAdmin/AllActive";
        }
        else
        {
            ViewBag.ReturnUrl = "/MealPlan/Mine";
        }
    }
}

<div id="details-mealplan" class="image-overlay food-background">    
    <div class="card-outer-container">
        <div class="header-container">
            <partial name="_HeadingPartial" model="headingModel" />
            <partial name="_BackBtnPartial" />
        </div>        
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-10">
                                Meal
                            </th>
                            <th scope="col" class="col-2 text-end">
                                Cooked?
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- For each -->
                        @for (int i = 0; i < Model.Meals.Count; i++)
                        {
                            var currentMeal = Model.Meals[i];
                            bool isCurrentMealDeleted = Guid.Parse(currentMeal.RecipeId) == DeletedRecipeId;

                            <tr class="meal-row @((isCurrentMealDeleted ? "deleted-style" : ""))">
                                <td>
                                    <div class="meal-info">
                                        <div class="meal-image">
                                            <img src="@(isCurrentMealDeleted ? "/img/compressed_deleted_recipe.png" : currentMeal.ImageUrl)" alt="Meal Image">
                                        </div>

                                        <div class="meal-content">
                                            <h5 class="meal-title">
                                                @if (isCurrentMealDeleted)
                                                {
                                                    <span class="text-muted">@currentMeal.Title</span>
                                                }
                                                else
                                                {
                                                    <a asp-area="" 
                                                    asp-controller="Meal" 
                                                    asp-action="Details" 
                                                    asp-route-id="@currentMeal.Id" 
                                                    asp-route-returnUrl="/MealPlan/Details/@Model.Id">@currentMeal.Title</a>

                                                }
                                            </h5>
                                            <p class="meal-stats text-primary">
                                                <span class="no-wrap-text">
                                                    <i class="fa-solid fa-layer-group"></i><span class="icon-text">@(isCurrentMealDeleted ? "N/A" : currentMeal.CategoryName)</span><span class="separator">|</span>
                                                </span>
                                                <span class="no-wrap-text">
                                                    <i class="fa-solid fa-calendar"></i><span class="icon-text">@(isCurrentMealDeleted ? "N/A" : $"{currentMeal.DayOfTheWeek}, {currentMeal.Date}")</span><span class="separator">|</span>
                                                </span>
                                                <span class="no-wrap-text">
                                                    <i class="fa-solid fa-utensils"></i><span class="icon-text">@(isCurrentMealDeleted ? "N/A" : currentMeal.Servings)</span>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </td>

                                <td class="align-middle text-end">
                                    <div class="button-container">
                                        <!-- Cook / Uncook Button -->
                                        @if (isCurrentMealDeleted)
                                        {
                                            <button class="meal-button uncook-meal-button disabled">
                                                <i class="fa-solid fa-calendar-check"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            @if (!currentMeal.IsCooked)
                                            {
                                                <button class="meal-button cook-meal-button" data-meal-id="@currentMeal.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark as Cooked">
                                                    <i class="fa-solid fa-calendar-xmark"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="meal-button uncook-meal-button" data-meal-id="@currentMeal.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark Uncooked">
                                                    <i class="fa-solid fa-calendar-check"></i>
                                                </button>
                                            }
                                        }

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">

                    <div class="col-12">
                        <a data-bs-toggle="collapse" href="#collapseSummary" role="button" aria-expanded="true" aria-controls="collapseSummary">
                            <div class="card-header-pills summary-pill">
                                View Summary
                            </div>
                        </a>

                        <div class="collapse" id="collapseSummary">
                            <div class="stats-container d-flex">

                                <div class="stat-item">
                                    <div class="stat-icon">
                                        <i class="fa-solid fa-bowl-rice"></i>
                                    </div>
                                    <div class="stat-text">
                                        <span class="stat-number">@Model.Meals.Count</span>
                                        <span class="stat-content">meals</span>
                                    </div>                                    
                                </div>

                                <div class="stat-item">
                                    <div class="stat-icon">
                                        <i class="fa-solid fa-utensils stat-icon"></i>
                                    </div>
                                    <div class="stat-text">
                                        <span class="stat-number">@Model.TotalServings</span>
                                        <span class="stat-content">total servings</span>
                                    </div>                                    
                                </div>

                                <div class="stat-item">
                                    <div class="stat-icon">
                                        <i class="fa-solid fa-clock stat-icon"></i>
                                    </div>
                                    <div class="stat-text">
                                        <span class="stat-number">@($"{Model.TotalCookingTimeMinutes / 60}h {Model.TotalCookingTimeMinutes % 60}min")</span>
                                        <span class="stat-content">time cooking</span>
                                    </div>                                    
                                </div>

                                <div class="stat-item">
                                    <div class="stat-icon">
                                        <i class="fa-solid fa-cart-shopping stat-icon"></i>
                                    </div>
                                    <div class="stat-text">
                                        <span class="stat-number">@Model.TotalIngredients</span>
                                        <span class="stat-content">ingredients used</span>
                                    </div>                                    
                                </div>

                                <div class="stat-item">
                                    <div class="stat-icon">
                                        <i class="fa-solid fa-calendar stat-icon"></i>
                                    </div>
                                    <div class="stat-text">
                                        <span class="stat-number">@Model.TotalCookingDays</span>
                                        <span class="stat-content">days cooking</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
                @if (isOwner)
                {
                    <div class="row">
                        <div class="col buttons">
                            <a asp-area="" asp-controller="ShoppingList" asp-action="GetShoppingList" asp-route-id="@Model.Id" asp-route-returnUrl="/MealPlan/Details/@Model.Id" class="shopping-list-btn">
                                <i class="fas fa-shopping-basket"></i>&nbsp;List
                            </a>
                            <div class="d-flex gap-2">
                                @if (Model.IsFinished)
                                {
                                    <form asp-area="" asp-controller="MealPlan" asp-action="CopyMealPlan" method="post">
                                        <input type="hidden" name="mealPlanId" value="@Model.Id" />
                                        <input type="hidden" name="returnUrl" value="/MealPlan/Details/@Model.Id" />

                                        <button type="submit" class="copy-mealplan-button">
                                            <i class="fa-solid fa-copy"></i>&nbsp;Repeat
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <a class="edit-button" asp-area="" asp-controller="MealPlan" asp-action="Edit" asp-route-id="@Model.Id" asp-route-returnUrl="/MealPlan/Details/@Model.Id">
                                        <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit
                                    </a>
                                    <a id="removeBtn" class="delete-button">
                                        <i class="fa-solid fa-trash-can"></i>&nbsp;Remove
                                    </a>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @* Modal for Delete *@
    <div id="confirmDeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete meal plan @Model.Name?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <a id="confirmDeleteBtn"
                       asp-controller="MealPlan"
                       asp-action="Delete"
                       asp-route-id="@Model.Id"
                       class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module">
        import { eraseUserLocalStorage } from '/js/site.js';

        @if (TempData[SubmissionSuccess] != null && (bool)TempData[SubmissionSuccess])
        {
            <text>eraseUserLocalStorage();</text>
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#removeBtn').on('click', function (e) {
                e.preventDefault(); // Prevent the default link behavior
                $('#confirmDeleteModal').modal('show');
            });

            // Close the modal when the "Cancel" button is clicked
            $('#confirmDeleteModal .btn-primary').on('click', function () {
                $('#confirmDeleteModal').modal('hide');
            });

            // Close the modal when clicking outside the modal area
            $(document).on('click', function (e) {
                if ($(e.target).closest('.modal-content').length === 0) {
                    $('#confirmDeleteModal').modal('hide');
                }
            });

            // Initialize tooltips for all meal buttons once
            $('[data-bs-toggle="tooltip"]').tooltip();

            $('.meal-button').each(function () {
                debugger;
                const $button = $(this);
                const mealId = $button.data('meal-id');
                console.log(`Meal Id: ${mealId}`);
                $button.off('click');

                if ($button.hasClass('cook-meal-button')) {
                    // Attach cookMeal event
                    $button.on('click', function (event) {
                        event.preventDefault();
                        event.stopPropagation();

                        cookMeal($button, mealId);
                    });
                } else if ($button.hasClass('uncook-meal-button')) {
                    // Attach unCookMeal event
                    $button.on('click', function (event) {
                        event.preventDefault();
                        event.stopPropagation();

                        unCookMeal($button, mealId);
                    });
                }
            });
        });
    </script>
    <script src="~/js/mealFunctions.js"></script>
}



