@model MealPlanViewModel
@using CookTheWeek.Services.Data.Interfaces
@inject IUserService UserService
@{
    ViewData["Title"] = "Meal Plan Details";
    string userId = User.GetId();
    bool isOwner = await this.UserService.IsOwnerByMealPlanIdAsync(Model.Id, userId); 

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),
        HeadingSecondary = Model.Name
    };

}
<div id="details-mealplan" class="list-container p-1 p-md-3">
    <partial name="_HeadingPartial" model="headingModel" />        
        <div class="row">
            <div class="col-lg-12">
                <!-- Meal Plan table -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="table">
                                <th scope="col" class="rounded-start bg-primary text-white col-xs-6 col-md-6">
                                    <div class="text-uppercase no-wrap-text">Meal</div>
                                </th>
                                <th scope="col" class="bg-primary text-white col-xs-1 col-md-2">
                                    <div class="text-uppercase no-wrap-text">Servs</div>
                                </th>
                                <th scope="col" class="bg-primary text-white col-xs-4 col-md-3">
                                    <div class="text-uppercase no-wrap-text">On Date</div>
                                </th>
                                <th scope="col" class="bg-primary text-white col-xs-1 col-md-1">
                                    <div class="text-uppercase no-wrap-text">Cook</div>
                                </th>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- For each -->
                                @for (int i = 0; i < Model.Meals.Count; i++)
                                {
                                    <tr class="meal-row">
                                        <th scope="row" class="border-0">
                                            <div class="meal-info">
                                                <img src="@Model.Meals[i].ImageUrl" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                <div class="ml-3 d-inline-block align-middle">
                                                    <a href="/Recipe/Details/@Model.Meals[i].RecipeId"><h5 class="meal-title">@Model.Meals[i].Title</h5></a>
                                                    <span class="category-text">@Model.Meals[i].CategoryName</span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="border-0 align-middle">
                                            <strong>
                                                <div class="input-group">
                                                    <span class="input-group-text"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control text-style" value="@Model.Meals[i].Servings" readonly>
                                                </div>
                                            </strong>
                                        </td>
                                        <td class="border-0 align-middle">
                                            <strong>
                                                <div class="input-group">
                                                    <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control text-style" value="@Model.Meals[i].Date" readonly>
                                                    <span asp-validation-for="Meals[i].Date" class="small text-danger"></span>
                                                </div>
                                            </strong>
                                        </td>
                                    <td class="border-0 align-middle">
                                        <a asp-area="" asp-controller="Meal" asp-action="Details" asp-route-id="@Model.Meals[i].Id" class="btn btn-primary cook-btn">
                                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    

    <div class="row">
        <div class="col-lg-6">
            <div class="info-pill bg-success pill">Tips</div>
            <div class="">
                <ul class="list-unstyled inner-padding">
                    <li><span class="tip-start">Weekly Structure:</span> Your meal plan is structured for a week, consisting of 7 days. Consider planning your meals accordingly to cover each day of the week.</li>
                    <li><span class="tip-start">Customizable Portions:</span> Meals can be sized according to your needs and preferences. Feel free to adjust portion sizes based on factors such as appetite, dietary goals, and nutritional requirements.</li>
                    <li><span class="tip-start">Matched Shopping List:</span> Your shopping list will match the portion sizes of your chosen meals, making your grocery shopping efficient and minimizing waste.</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="info-pill bg-primary text-light pill ">Summary</div>
                <ul class="list-unstyled inner-padding statistics-list">
                <li><span class="statistics">@Model.Meals.Count</span><span class="statistics-value"> <strong>Meals</strong> cooked</span></li>
                <li><span class="statistics">@Model.TotalServings</span><span class="statistics-value"> Total <strong>Servings</strong></span></li>
                <li><span class="statistics">@($"{Model.TotalCookingTimeMinutes / 60}h {Model.TotalCookingTimeMinutes % 60}min")</span><span class="statistics-value"> cooking</span></li>
                <li><span class="statistics">@Model.TotalIngredients</span><span class="statistics-value"> <strong>Ingredients</strong> used</span></li>
                <li><span class="statistics">@Model.TotalCookingDays</span><span class="statistics-value"> day(s) cooking</span></li>
                </ul>
        </div>
    </div>
    @if(isOwner)
    {
        <div class="row">
            <div class="col d-flex justify-content-between align-middle">
                <a asp-area="" asp-controller="ShoppingList" asp-action="Generate" asp-route-id="@Model.Id" class="btn btn-primary card-btn-width">
                    <i class="fas fa-shopping-basket"></i>&nbsp;List
                </a>
                <div class="d-flex gap-2">
                @if (Model.IsFinished)
                {
                    <a class="btn btn-secondary card-btn-width" asp-area="" asp-controller="MealPlan" asp-action="CopyMealPlan" asp-route-id="@Model.Id">Build Again</a>
                }
                else
                {
                    <a class="btn btn-secondary card-btn-width" asp-area="" asp-controller="MealPlan" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                }
                <a id="removeBtn" class="btn btn-danger card-btn-width">Remove</a>
                </div>
            </div>
        </div>
    }   
    @* Modal for Delete *@
    <div id="confirmDeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete meal plan @Model.Name?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <a id="confirmDeleteBtn" 
                       asp-controller="MealPlan"
                       asp-action="Delete"
                       asp-route-id="@Model.Id" 
                       class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#removeBtn').on('click', function (e) {
            e.preventDefault(); // Prevent the default link behavior
            $('#confirmDeleteModal').modal('show');
        });

        // Close the modal when the "Cancel" button is clicked
        $('#confirmDeleteModal .btn-primary').on('click', function () {
            $('#confirmDeleteModal').modal('hide');
        });

        // Close the modal when clicking outside the modal area
        $(document).on('click', function (e) {
            if ($(e.target).closest('.modal-content').length === 0) {
                $('#confirmDeleteModal').modal('hide');
            }
        });
    });
</script>


