@model MealPlanEditFormModel
@using static CookTheWeek.Common.EntityValidationConstants.ValidationErrorMessages
@{
    ViewData["Title"] = "Edit Meal Plan";

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),
        HeadingSecondary = Model.Name,
    };

    if (ViewBag.ReturnUrl == null)
    {
        ViewBag.ReturnUrl = "/MealPlan/Mine";

    }

}
<div id="edit-mealplan" class="food-background image-overlay">
    <div class="card-outer-container">
        <div class="header-container">
            <partial name="_HeadingPartial" model="headingModel" />
            <partial name="_BackBtnPartial" />
        </div>

        <form id="edit-mealplan-form" method="post" asp-area="" asp-controller="MealPlan" asp-action="Edit" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="small text-danger"></div>
            <div class="row pt-2">
                <div class="col-12">
                    <div class="col-lg-6 pb-0 mb-0">
                        <div class="input-group name">
                            <span class="name-label-text">Name</span>
                            <input asp-for="Name" class="form-control" placeholder="Name it.." type="text" data-val="true">
                        </div>
                        <span asp-validation-for="Name" class="small text-danger"></span>
                    </div>
                    <div class="name-suggestions">
                        <a data-bs-toggle="collapse" href="#collapseNames" role="button" aria-expanded="false" aria-controls="collapseNames">
                            Being short on names? Click <strong>here</strong> for some examples
                        </a>
                        <div class="collapse" id="collapseNames">
                            <h4>Suggested Names</h4>
                            <div class="suggestion-category">
                                <h5>Weekly Themes</h5>
                                <p>Healthy Week Ahead</p>
                                <p>Quick & Easy Meals</p>
                                <!-- More items... -->
                            </div>
                            <div class="suggestion-category">
                                <h5>Cuisine-Based</h5>
                                <p>Italian Feast Week</p>
                                <p>Mexican Fiesta</p>
                                <!-- More items... -->
                            </div>
                            @* <div class="p-2">
                                <ul class="list-unstyled inner-padding">
                                    <li>
                                        <span class="tip-start">Veggie Vibes Weekly:</span> Perfect for a week without any meat.
                                    </li>
                                    <li>
                                        <span class="tip-start">Winter Warmth Week:</span> Ideal for a series of warming, spicy, and winter-appropriate meals.
                                    </li>
                                    <li>
                                        <span class="tip-start">Summer Fresh Plan:</span> Great for light, fresh, and summery dishes.
                                    </li>
                                    <li>
                                        Choose a name that lights up your culinary imagination!
                                    </li>
                                </ul>

                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Meal Plan table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="table">
                                    <th scope="col" class="rounded-start bg-primary text-white col-xs-5 col-md-6">
                                        <div class="no-wrap-text">Meal</div>
                                    </th>
                                    <th scope="col" class="bg-primary text-white col-xs-2 col-md-2 col-lg-2">
                                        <div class="no-wrap-text">Servings</div>
                                    </th>
                                    <th scope="col" class="bg-primary text-white col-xs-4 col-md-3 col-lg-3">
                                        <div class="no-wrap-text">Cook On</div>
                                    </th>
                                    <th scope="col" class="rounded-end bg-primary text-white col-xs-1 col-md-1 col-lg-1">
                                        <div class="no-wrap-text">Remove</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- For each -->
                                @if (Model.Meals.Any())
                                {
                                    @for (int i = 0; i < Model.Meals.Count; i++)
                                    {
                                        <tr class="meal-row">
                                            <th scope="row" class="border-0">
                                                <div class="meal-info">
                                                    <input type="hidden" asp-for="@Model.Meals[i].ImageUrl" />
                                                    <img src="@Model.Meals[i].ImageUrl" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        <input type="hidden" asp-for="Meals[i].Title" />
                                                        <a href="/Recipe/Details/@Model.Meals[i].RecipeId"><h5 class="meal-title">@Model.Meals[i].Title</h5></a>
                                                        <input type="hidden" asp-for="Meals[i].CategoryName" />
                                                        <span class="category-text">Category: @Model.Meals[i].CategoryName</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="border-0 align-middle">

                                                <div class="input-group">
                                                    <span class="input-group-text"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                                                    <select class="form-select text-style" asp-for="Meals[i].Servings" data-val="true">
                                                        <option value="">-</option>
                                                        @foreach (var option in @Model.Meals!.First().SelectServingOptions!)
                                                        {
                                                            <option value="@option">@option</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="Meals[i].Servings" class="small text-danger"></span>
                                                </div>

                                            </td>
                                            <td class="border-0 align-middle">

                                                <div class="input-group">
                                                    <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <select class="form-select text-style" asp-for="Meals[i].Date" data-val="true">
                                                        <option value="">-</option>
                                                        @foreach (var option in @Model.Meals.First().SelectDates)
                                                        {
                                                            <option value="@option">@option</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="Meals[i].Date" class="small text-danger"></span>
                                                </div>

                                            </td>
                                            <td class="border-0 align-middle text-end">
                                                <div class="remove-btn-container">
                                                    <input type="hidden" asp-for="Meals[i].RecipeId" />
                                                    <a data-recipeId="@Model.Meals[i].RecipeId" class="remove-item-button">
                                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <a data-bs-toggle="collapse" href="#collapseTips" role="button" aria-expanded="false" aria-controls="collapseTips">
                        <div class="pill info-pill tips-pill">
                            Show Tips
                        </div>
                    </a>
                    <div class="collapse pt-3" id="collapseTips">                        
                        <div class="row g-4">                           
                            <div class="col-lg-4">
                                <div class="tip-container d-flex align-items-center justify-content-center flex-column">
                                    <i class="fa-solid fa-calendar-week"></i>
                                    <span class="tip-heading">Weekly Structure</span>
                                    <span class="tip-text">
                                        Plan your meals for a 7-day week. 
                                        Organize your dishes to cover each day effectively
                                        and avoid last-minute decisions.
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="tip-container d-flex align-items-center justify-content-center flex-column">
                                    <i class="fa-solid fa-scale-unbalanced"></i>
                                    <span class="tip-heading">Customizable Portions</span>
                                    <span class="tip-text">
                                        Adjust portion sizes to suit your needs, appetite, 
                                        and dietary goals, ensuring every meal is just right for you.
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="tip-container d-flex align-items-center justify-content-center flex-column">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="tip-heading">Smart Shopping List</span>
                                    <span class="tip-text">
                                        Get a tailored shopping list based on your chosen meals, 
                                        optimizing your grocery shopping and reducing waste.
                                    </span>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col buttons">
                    <a asp-area="" asp-controller="Recipe" asp-action="All" class="browse-recipes-btn">
                        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;Recipes
                    </a>
                    <button form="edit-mealplan-form" class="save-button" type="submit">
                        <i class="fas fa-th-list"></i>&nbsp;Save
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>




@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
    <script type="module">
        import { reindexMealRows } from '/js/site.js';        
        
        $(document).ready(function () {
            $(document).on('click', '.remove-item-button', function (event) {
                debugger
                let mealsCount = $('.meal-row').length;

                if (mealsCount === 1) {
                    event.preventDefault();
                    toastr.error('@ToastrMessages["MealsRequiredErrorMessage"]');
                    return false;
                }
                $(this).closest('.meal-row').remove();
                reindexMealRows();

            });            

        });
    </script>
}