@model MealPlanEditFormModel
@using static CookTheWeek.Common.EntityValidationConstants.ValidationErrorMessages
@using static CookTheWeek.Common.GeneralApplicationConstants
@{
    ViewData["Title"] = "Edit Meal Plan";

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),
        HeadingSecondary = Model.Name,
    };

    if (ViewBag.ReturnUrl == null)
    {
        ViewBag.ReturnUrl = "/MealPlan/Mine";

    }

}
<div id="edit-mealplan">
    <div class="card-outer-container">
        <div class="header-container">
            <partial name="_HeadingSmallPartial" model="headingModel" />
            <div class="status-container d-flex align-items-center justify-content-between">
                <div class="meal-plan-dates">
                    <span class="label">Duration:</span> @(@Model.StartDate.ToString(MealPlanDateFormat)) to @Model.StartDate.AddDays(6).ToString(MealPlanDateFormat)
                </div>
                <div class="meal-plan-status meal-plan-finished-false">
                    Active
                </div>
            </div>
            <partial name="_BackBtnPartial" />
        </div>
        
        <form id="edit-mealplan-form" method="post" asp-area="" asp-controller="MealPlan" asp-action="Edit" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="small text-danger"></div>
            <div class="row pt-3">
                <div class="col-12">
                    <div class="col-lg-6 pb-0 mb-0">
                        <div class="input-group name">
                            <span class="name-label-text">Name</span>
                            <input asp-for="Name" class="form-control" placeholder="Name it.." type="text" data-val="true">
                        </div>
                        <span asp-validation-for="Name" class="small text-danger"></span>
                    </div>
                    <div class="name-suggestions">
                        <a data-bs-toggle="collapse" href="#collapseNames" role="button" aria-expanded="false" aria-controls="collapseNames">
                            Being short on names? Click <strong>here</strong> for some examples
                        </a>
                        <div class="collapse names-container" id="collapseNames">
                            <h4>Looking for the perfect meal plan name? 
                                Discover our curated selection to find inspiration for your dietary goals, 
                                weekly vibe, or seasonal cravings!</h4>
                            <div class="category-container">
                                <div class="suggestion-category">
                                    <h5>Weekly Themes</h5>
                                    <p>7 Days of Flavor</p>
                                    <p>Quick & Easy Meals</p>
                                    <p>Week of World Cuisines</p>
                                    <p>Everyday Essentials</p>
                                </div>
                                <div class="suggestion-category">
                                    <h5>Cuisine-Based</h5>
                                    <p>Italian Feast Week</p>
                                    <p>Mexican Fiesta</p>
                                    <p>Asian Fusion Week</p>
                                    <p>Mediterranean Vibes Week</p>
                                </div>
                                <div class="suggestion-category">
                                    <h5>Dietary-Based</h5>
                                    <p>Keto in 7 Days</p>
                                    <p>7 Days of Low-Cal</p>
                                    <p>Plant-Powered Week</p>
                                    <p>High-Protein Week</p>
                                </div>
                                <div class="suggestion-category">
                                    <h5>Season-Based</h5>
                                    <p>Spring Fresh Week</p>
                                    <p>Summer Sizzle Plan</p>
                                    <p>Autumn Harvest Week</p>
                                    <p>Winter Warming Week</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="col-xs-5 col-md-6">
                                    Meal
                                </th>
                                <th scope="col" class="col-xs-2 col-md-2 text-center col-lg-2">
                                    Servings
                                </th>
                                <th scope="col" class="col-xs-4 col-md-3 col-lg-3 text-center no-wrap-text">
                                    Cook On
                                </th>
                                <th scope="col" class="col-1 text-end">
                                    X
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <input type="hidden" asp-for="@Model.StartDate" />
                            <!-- For each -->
                            @if (Model.Meals.Count > 0)
                            {
                                @for (int i = 0; i < Model.Meals.Count; i++)
                                {
                                    var currentMeal = Model.Meals[i];

                                    <tr class="meal-row">
                                        <!-- Hidden input for meal ID -->
                                        <input type="hidden" asp-for="Meals[i].Id" />
                                        <td scope="row" class="border-0">
                                            <div class="meal-info">
                                                <div class="meal-image">
                                                    <input type="hidden" asp-for="@Model.Meals[i].ImageUrl" />
                                                    <img src="@Model.Meals[i].ImageUrl" alt="Meal Image">
                                                </div>

                                                <div class="meal-content">
                                                    <h5 class="meal-title">
                                                        <input type="hidden" asp-for="Meals[i].Title" />
                                                        <a 
                                                            asp-area="" 
                                                            asp-controller="Meal" 
                                                            asp-action="Details" 
                                                            asp-route-id="@currentMeal.Id"
                                                            asp-route-returnUrl="/MealPlan/Details/@Model.Id"
                                                        >@currentMeal.Title</a>
                                                    </h5>
                                                    <p class="meal-stats text-primary">
                                                        <input type="hidden" asp-for="Meals[i].CategoryName" />
                                                        <span class="no-wrap-text">
                                                            <i class="fa-solid fa-layer-group"></i><span class="icon-text">@currentMeal.CategoryName</span>
                                                        </span>
                                                    </p>                                                    
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle text-center">

                                            <div class="input-group table-input-style">
                                                <span class="input-group-text">
                                                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                                                </span>
                                                <select class="form-select text-style" asp-for="Meals[i].Servings" data-val="true">
                                                    <option value="">-</option>
                                                    @foreach (var option in @Model.Meals!.First().SelectServingOptions!)
                                                    {
                                                        <option value="@option">@option</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="Meals[i].Servings" class="small text-danger"></span>
                                            </div>

                                        </td>
                                        <td class="align-middle text-center">

                                            <div class="input-group table-input-style">
                                                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                <select class="form-select text-style" asp-for="Meals[i].Date" data-val="true">
                                                    <option value="">-</option>
                                                    @foreach (var option in @Model.Meals.First().SelectDates)
                                                    {
                                                        <option value="@option">@option</option>
                                                    }
                                                </select>
                                                <span asp-validation-for="Meals[i].Date" class="small text-danger"></span>
                                            </div>

                                        </td>
                                        <td class="align-middle text-end">
                                            <div class="button-container">
                                                <input type="hidden" asp-for="Meals[i].RecipeId" />
                                                <a data-recipeId="@Model.Meals[i].RecipeId" class="remove-item-button">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                    
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <a data-bs-toggle="collapse" href="#collapseTips" role="button" aria-expanded="false" aria-controls="collapseTips">
                        <div class="pill info-pill tips-pill">
                            Show Tips
                        </div>
                    </a>
                    <div class="collapse pt-3" id="collapseTips">                        
                        <div class="row g-4">                           
                            <div class="col-lg-4">
                                <div class="tip-container d-flex align-items-center justify-content-center flex-column">
                                    <i class="fa-solid fa-calendar-week"></i>
                                    <span class="tip-heading">Weekly Structure</span>
                                    <span class="tip-text">
                                        Plan your meals for the next 7 days.
                                        Organize each day with a well-planned dish 
                                        to reduce stress and avoid last-minute choices.
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="tip-container d-flex align-items-center justify-content-center flex-column">
                                    <i class="fa-solid fa-scale-unbalanced"></i>
                                    <span class="tip-heading">Customizable Portions</span>
                                    <span class="tip-text">
                                        Customize servings to match your family size or specific needs, 
                                        ensuring each meal fits you perfectly.
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="tip-container d-flex align-items-center justify-content-center flex-column">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span class="tip-heading">Smart Shopping List</span>
                                    <span class="tip-text">
                                        Get a customized list based on your meals,
                                        ensuring efficient shopping that reduces waste and maximizes value.
                                    </span>
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
               
            </div>
            <div class="row buttons-row">
                <div class="col buttons">
                    <a asp-area="" asp-controller="Recipe" asp-action="All" class="browse-recipes-btn">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span class="btn-text">Recipes</span>
                    </a>
                    <button form="edit-mealplan-form" class="save-button" type="submit">
                        <i class="fas fa-th-list"></i>
                        <span class="btn-text">Save</span>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>




@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
    <script type="module">
        import { reindexMealRows } from '/js/site.js';        
        
        $(document).ready(function () {
            $(document).on('click', '.remove-item-button', function (event) {
                debugger
                let mealsCount = $('.meal-row').length;

                if (mealsCount === 1) {
                    event.preventDefault();
                    toastr.error('@ToastrMessages["MealsRequiredErrorMessage"]');
                    return false;
                }
                $(this).closest('.meal-row').remove();
                reindexMealRows();

            });            

        });
    </script>
}