@model ICollection<MealPlanAllViewModel>
@using CookTheWeek.Web.Infrastructure.Extensions
@{
    bool isAdmin = User.IsAdmin();
    string userId = User.GetId();
}
@if (!Model.Any())
{
    <div class="text-center">
        <h2 class="text-center">You have no Meal Plans yet!</h2>
        <p>Ready to embark on your culinary journey? Start building your personalized meal plan now by exploring our All Recipes section and adding your favorite dishes with a simple click of 'Add to Meal Plan'. Let's create a week of unforgettable flavors together!</p>
        <div class="button"><a class="btn btn-success" asp-area="" asp-controller="Recipe" asp-action="All">Browse Recipes</a></div>
    </div>
}
else
{
    <div class="container-xl" style="max-width: 1200px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><label>Id</label></th>
                    <th><label>Name</label></th>
                    <th><label>Start Date</label></th>
                    <th><label>End Date</label></th>
                    <th><label>Total Meals</label></th>
                    <th><label>View Details</label></th>
                    <th><label>Build This Plan Again</label></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mealPlan in Model)
                {
                    <tr>
                        <td><label>@mealPlan.Id</label></td>
                        <td><label>@mealPlan.Name</label></td>
                        <td><label>@mealPlan.StartDate</label></td>
                        <td><label>@mealPlan.EndDate</label></td>
                        <td><label>@mealPlan.MealsCount</label></td>
                        <td>
                            <label>
                                <a asp-asp-area="" asp-controller="MealPlan" asp-action="Details" asp-route-id="@mealPlan.Id" class="btn btn-primary text-white">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </a>
                            </label>
                        </td>
                        <td>
                            <label>
                                <a asp-asp-area="" asp-controller="ShoppingList" asp-action="Generate" asp-route-id="@mealPlan.Id" class="btn btn-danger text-white">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </a>
                            </label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

   
}





