@model ICollection<MealPlanAllViewModel>
@inject IUserContext UserContext
@{
    ViewData["Title"] = "My Meal Plans";

    Guid userId = UserContext.UserId;

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),
        HeadingSecondary = "Review or rebuild your meal plans"
    };
}
<div id="meal-plans-mine" class="wide-contents-container">
    <partial name="_HeadingPartial" model="headingModel" />
   
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-center">Start Date</th>
                <th class="text-center">End Date</th>
                <th class="text-center">Status</th>
                <th class="text-center">Total Meals</th>
                <th class="text-center">Details</th>
                <th class="text-center">Shopping List</th>
                <th class="text-center">Build Again</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mealPlan in Model)
            {
                <tr>
                    <td class="text-start align-middle">@mealPlan.Name</td>
                    <td class="text-center align-middle">@mealPlan.StartDate</td>
                    <td class="text-center align-middle">@mealPlan.EndDate</td>
                    <td class="text-center align-middle">
                    @if (mealPlan.IsFinished)
                    {
                        <i class="fas fa-calendar-check finished"></i>
                    }
                    else
                    {
                        <i class="fas fa-calendar-times not-finished"></i>
                    }
                    </td>
                    <td class="text-center align-middle">@mealPlan.MealsCount</td>
                    <td class="text-center align-middle">
                        <a asp-area="" asp-controller="MealPlan" asp-action="Details" asp-route-id="@mealPlan.Id" asp-route-returnUrl="/MealPlan/Mine" class="btn btn-outline-primary">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                    <td class="text-center align-middle">
                        <a asp-area="" asp-controller="ShoppingList" asp-action="GetShoppingList" asp-route-id="@mealPlan.Id" asp-route-returnUrl="/MealPlan/Mine" class="btn btn-outline-primary">
                            <i class="fas fa-shopping-basket"></i>
                        </a>
                    </td>
                    <td class="text-center align-middle">
                        <form asp-area="" asp-controller="MealPlan" asp-action="CopyMealPlan" method="post" class="d-inline">
                            <input type="hidden" name="mealPlanId" value="@mealPlan.Id" />
                            <input type="hidden" name="returnUrl" value="/MealPlan/Mine" />
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
</div>





