@model ICollection<MealPlanAllViewModel>
@inject IUserContext UserContext
@{
    ViewData["Title"] = "My Meal Plans";

    Guid userId = UserContext.UserId;

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),
        HeadingSecondary = "Review or rebuild your meal plans"
    };
}
<div id="meal-plans-mine" class="wide-contents-container">
    <partial name="_HeadingPartial" model="headingModel" />
   
    <table class="table table-striped">
        <thead>
            <tr>
                <th><label>Name</label></th>
                <th><label>Start Date</label></th>
                <th><label>End Date</label></th>
                <th><label>Status</label></th>
                <th><label>Total Meals</label></th>
                <th><label>Details</label></th>
                <th><label>Shopping List</label></th>
                <th><label>Build Again</label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mealPlan in Model)
            {
                <tr>
                    <td class="align-baseline">@mealPlan.Name</td>
                    <td class="align-baseline"><label>@mealPlan.StartDate</label></td>
                    <td class="align-baseline"><label>@mealPlan.EndDate</label></td>
                    <td class="align-baseline">
                        <lablel>
                            @if (mealPlan.IsFinished)
                            {
                                <i class="fa-solid fa-flag-checkered finished"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-flag-checkered not-finished"></i>
                            }
                        </lablel>
                    </td>

                    <td class="align-baseline"><label>@mealPlan.MealsCount</label></td>
                    <td class="align-baseline">
                        <label>
                            <a asp-area="" asp-controller="MealPlan" asp-action="Details" asp-route-id="@mealPlan.Id" asp-route-returnUrl="/MealPlan/Mine" class="btn btn-outline-primary fixed-size-btn btn-icon-only">
                                <i class="fas fa-th-list"></i>
                            </a>
                        </label>
                    </td>
                    <td class="align-baseline">
                        <label>
                            <a asp-area="" asp-controller="ShoppingList" asp-action="GetShoppingList" asp-route-id="@mealPlan.Id" asp-route-returnUrl="/MealPlan/Mine" class="btn btn-outline-primary fixed-size-btn btn-icon-only">
                                <i class="fas fa-shopping-basket"></i>
                            </a>
                        </label>
                    </td>
                    <td class="align-baseline">
                        <form asp-area="" asp-controller="MealPlan" asp-action="CopyMealPlan" method="post" class="d-inline">
                            <input type="hidden" name="mealPlanId" value="@mealPlan.Id" />
                            <input type="hidden" name="returnUrl" value="/MealPlan/Mine" />
                            <button type="submit" class="btn btn-primary fixed-size-btn btn-icon-only">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
</div>





