@model AdminServiceModel
@{
    ViewData["Title"] = "Home Page";
}
<div id="admin-container">
    <h1>Hello, Admin!</h1>
    <p class="admin-msg">Here, you can manage recipes, ingredients, categories, users, and meal plans. Edit, add, or delete recipes and ingredients, categorize them, view registered users, and oversee meal plans. Enjoy streamlined control over your system.</p>
    <div class="row gy-3 gx-4">
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card admin-card">
                <div class="card-body text-center">
                    <h4 class="card-title">Recipes</h4>
                    <h6 class="text-muted card-subtitle mb-2">Total</h6>
                    <p class="card-text big-number">@Model.RecipesTotalCount</p>
                    <div class="card-links">
                        <a asp-area="" asp-controller="Recipe" asp-action="Add" class="btn btn-primary">Add</a>
                        <a asp-area="" asp-controller="Recipe" asp-action="All" class="btn btn-primary">Browse</a>
                        <a asp-area="Admin" asp-controller="RecipeAdmin" asp-action="Site" class="btn btn-primary">All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card admin-card">
                <div class="card-body text-center">
                    <h4 class="card-title">Recipe Categories</h4>
                    <h6 class="text-muted card-subtitle mb-2">Total</h6>
                    <p class="card-text big-number">@Model.RecipeCategoriesTotalCount</p>
                    <div class="card-links">
                        <a asp-area="Admin" asp-controller="CategoryAdmin" asp-action="AddRecipeCategory" class="btn btn-primary">Add</a>
                        <a asp-area="Admin" asp-controller="CategoryAdmin" asp-action="AllRecipeCategories" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card admin-card">
                <div class="card-body text-center">
                    <h4 class="card-title">Ingredients</h4>
                    <h6 class="text-muted card-subtitle mb-2">Total</h6>
                    <p class="card-text big-number">@Model.IngredientsTotalCount</p>
                    <div class="card-links">
                        <a asp-area="Admin" asp-controller="IngredientAdmin" asp-action="Add" class="btn btn-primary">Add</a>
                        <a asp-area="Admin" asp-controller="IngredientAdmin" asp-action="All" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card admin-card">
                <div class="card-body text-center">
                    <h4 class="card-title">Ingredient Categories</h4>
                    <h6 class="text-muted card-subtitle mb-2">Total</h6>
                    <p class="card-text big-number">@Model.IngredientCategoriesTotalCount</p>
                    <div class="card-links">
                        <a asp-area="Admin" asp-controller="CategoryAdmin" asp-action="AddIngredientCategory" class="btn btn-primary">Add</a>
                        <a asp-area="Admin" asp-controller="CategoryAdmin" asp-action="AllIngredientCategories" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card admin-card">
                <div class="card-body text-center">
                    <h4 class="card-title">Users</h4>
                    <h6 class="text-muted card-subtitle mb-2">Total</h6>
                    <p class="card-text big-number">@Model.UsersTotalCount</p>
                    <div class="card-links">
                        <a asp-area="Admin" asp-controller="UserAdmin" asp-action="All" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card admin-card">
                <div class="card-body text-center">
                    <h4 class="card-title">Active Meal Plans</h4>
                    <h6 class="text-muted card-subtitle mb-2">Total</h6>
                    <p class="card-text big-number">@Model.MealPlansTotalCount</p>
                    <div class="card-links">
                        <a asp-area="Admin" asp-controller="MealPlanAdmin" asp-action="AllActive" class="btn btn-primary">All Active</a>
                        <a asp-area="Admin" asp-controller="MealPlanAdmin" asp-action="AllFinished" class="btn btn-primary">All Finished</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>