@model IEnumerable<RecipeCategorySelectViewModel>
@{
    ViewBag.Title = "All Recipe Categories";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Id</label></th>
            <th><label>Name</label></th>
            <th><label>Edit</label></th>
            <th><label>Delete</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td><label>@category.Id</label></td>
                <td><label>@category.Name</label></td>
                <td><label><a asp-asp-area="Admin" asp-asp-controller="Category" asp-action="EditRecipeCategory" asp-route-id="@category.Id">✔</a></label></td>
                <td><label><a asp-asp-area="Admin" asp-asp-controller="Category" asp-action="DeleteRecipeCategory" asp-route-id="@category.Id">❌</a></label></td>
            </tr>
        }
    </tbody>
</table>
